
<a href="#canned/am_summary" class="btn btn-success"  role="button">AM Summary</a>
<a href="#canned/zoho" class="btn btn-success"  role="button">Zoho</a>
<a href="#canned/am_tcp" class="btn btn-success"  role="button">AM TCP</a>
<br/><br/>
<div ng-if="reports.showGrid" class="reportsView animated fadeInUp">
    <div class="table-responsive">
      <div ui-grid="gridOptions" ui-grid-exporter  ui-grid-resize-columns ui-grid-grouping ui-grid-auto-resize class="grid">
        <div class="grid-msg-overlay" ng-hide="!reports.loading">
          <div class="msg">
            <span>
              Loading Data...
              <i class="fa fa-spinner fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
