<div ng-init="retrieveData('faires')">
  <h3>Canned Faire Reports</h3>
  
  <span ng-if="reports.showLinks && reports_only">
    {{display_faire}}  
  </span>
  <select ng-if="reports.showLinks && !reports_only" ng-model="reports.selFaire" ng-change="handleSelect()" name="faireSelect">    
    <option ng-repeat="(key, faire) in data.faires" value="{{faire.ID}}">{{faire.faire_name}}</option>
  </select>  

  <span ng-if="reports.showLinks" class="reportsView animated fadeInUp cannedLinks">        
    <select ng-model="reports.subRoute" name="canned_rpt" id="canned_rpt" ng-change="handleSelect()">
      <option value="undefined">Please select a Report</option>
      <option value="am_summary">Area Manager Summary</option>      
      <option value="table_chairs">Table/Chairs</option>
      <option value="electrical">Electrical</option>
      <option value="wb_stools">Maker Bench and Stools</option>      
      <option value="barr_fence">Barricade/Fence</option>  
      <option value="specials">Specials</option>          
      <option value="sponsor_order">Sponsor Order(s)</option>
      <option value="prod_change">Production Change Report</option>
      <!--
      <option value="sponsor_pymt">Sponsor Payment(s)</option>
      <option value="guest_seat">Guest Seating</option>      
      <option value="zoho">Zoho</option> do we need this?
      <option value="am_tcp">AM TCP</option> what the heck is this??
      <option value="cm_pymt">Exhibit Payment(s)</option> does this still work?
       what about this one??             
      <option value="label">Label Placement</option>
      <option value="spdist">Sponsor Distribution</option>
      <option value="spint">Sponsor Internet</option>-->
    </select>
    <span ng-if="reports.subRoute && reports.subRoute!='undefined'">      
      <button ng-click="export('pdf')">Export PDF</button>
      <!--<button ng-click="export('csv')">Export CSV</button>      -->
    </span>

    <!--<div class="custom-csv-link-location">
      <label>Your CSV will show below:</label>
      <span class="ui-grid-exporter-csv-link">&nbsp;</span>
    </div>-->
    <span ng-if="reports.subRoute=='prod_change'" class="reportsView animated fadeInUp cannedLinks">       
      <br/>
      Filter after: 
      <select id="month">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <select id="day">
        <option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
<option value='10'>10</option>
<option value='11'>11</option>
<option value='12'>12</option>
<option value='13'>13</option>
<option value='14'>14</option>
<option value='15'>15</option>
<option value='16'>16</option>
<option value='17'>17</option>
<option value='18'>18</option>
<option value='19'>19</option>
<option value='20'>20</option>
<option value='21'>21</option>
<option value='22'>22</option>
<option value='23'>23</option>
<option value='24'>24</option>
<option value='25'>25</option>
<option value='26'>26</option>
<option value='27'>27</option>
<option value='28'>28</option>
<option value='29'>29</option>
<option value='30'>30</option>
<option value='31'>31</option>

      </select>
      <select id="year">
        <option value="2024">2024</option>
      </select>
      <button ng-click="filterAfterDate()">Rebuild</button> 
    </span>
  </span>
  
</div>



<br /><br />
<div ng-if="reports.showGrid" class="reportsView animated fadeInUp">
  <div class="table-responsive">
    <div ui-grid="gridOptions" ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize class="grid">
      <div class="grid-msg-overlay" ng-hide="!reports.loading">
        <div class="msg">
          <span>
            Loading Data...
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>