<div ng-init="retrieveData('faires')">
  <h3>Select a Faire</h3>
  <select ng-model="reports.selFaire" ng-change="reports.showLinks = true" name="faireSelect">
    <option value="all">All Faires</option>
    <option ng-repeat="(key, faire) in data.faires" value="{{faire.ID}}">{{faire.faire_name}}</option>
  </select>
</div>

<div ng-if="reports.showLinks" class="reportsView animated fadeInUp">
  <a href="#canned/am_summary/{{reports.selFaire}}" class="btn btn-success"  role="button">AM Summary</a>
  <a href="#canned/zoho/{{reports.selFaire}}" class="btn btn-success"  role="button">Zoho</a>
  <a href="#canned/am_tcp/{{reports.selFaire}}" class="btn btn-success"  role="button">AM TCP</a>
  <a href="#canned/cm_pymt/{{reports.selFaire}}" class="btn btn-success"  role="button">CM Payment(s)</a>
</div>
<br/><br/>
<div ng-if="reports.showGrid" class="reportsView animated fadeInUp">
    <div class="table-responsive">
      <div ui-grid="gridOptions" ui-grid-exporter  ui-grid-resize-columns ui-grid-auto-resize class="grid">
        <div class="grid-msg-overlay" ng-hide="!reports.loading">
          <div class="msg">
            <span>
              Loading Data...
              <i class="fa fa-spinner fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
