
  <div class="" ng-init="retrieveData('faires')">
    <div class="row">
      <div class="col-md-3">
        <h3>Select a Faire</h3>
        <select ng-model="reports.selFaire" ng-change="retrieveData('ent2res')" name="faireSelect">
          <option value="">Please select a Faire</option>
          <option ng-repeat="(key, faire) in reports.faires" value="{{faire.ID}}">{{faire.faire_name}}</option>
        </select>
      </div>
    </div>
  </div>
{{reports.type}}
  <div ng-hide="!reports.showGrid" class="reportsView animated fadeInUp">
    <div class="table-responsive">
      <div ui-grid="gridOptions" ui-grid-exporter  ui-grid-resize-columns ui-grid-auto-resize  class="grid">
        <div class="grid-msg-overlay" ng-hide="!reports.loading">
          <div class="msg">
            <span>
              Loading Data...
              <i class="fa fa-spinner fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

