
  <div class="container" ng-if="reports.showbuild">
     <div id="entry_filters"></div>
    <div class="row">
      <div class="col-md-12">
        <h3>Forms</h3>
        <select name="formSelect" ng-model="reports.formSelect" multiple>
          <option ng-repeat="form in reports.forms" value="{{form.id}}">{{form.id}} - {{form.name}}</option>
        </select>
      </div>
    </div>
    <br/><br/>
    <h3>Fields (from the original submission)</h3>
    <small><i>Note: Field information is from Master Form 9<br/>
    All Reports will include Entry ID and Form ID</i></small>
    <br/><br/>

    <button type="button" class="btn btn-success" ng-click="clearAll()">Clear All</button>
    <div ui-grid="fieldSelect" ui-grid-selection ui-grid-resize-columns  class="grid"></div>

    <br/><br/>
    <h3>RMT fields</h3>

    <div class="checkbox well" style="background: white;height: 400px;overflow: auto;padding: 0 20px;">
      <div class="row">
        <div class="col-md-3">
          <h4> Resources</h4>
          <div ng-repeat="rmtField in reports.rmt.resource">
            <label><input type="checkbox" ng-model="rmtField.checked">{{rmtField.value}}<br></label>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Attributes</h4>
          <div ng-repeat="rmtField in reports.rmt.attribute">
            <input type="checkbox" name="attribute" ng-model="rmtField.checked">{{rmtField.value}}<br>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Attention</h4>
          <div ng-repeat="rmtField in reports.rmt.attention">
            <input type="checkbox" name="attention" ng-model="rmtField.checked">{{rmtField.value}}<br>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Other</h4>
          <div ng-repeat="rmtField in reports.rmt.meta">
            <input type="checkbox" name="meta" ng-model="rmtField.checked"">{{rmtField.value}}<br/>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-3">
        <h4>Reporting on Forms:</h4>
        <div style="text-indent:10px" ng-repeat="selected in reports.formSelect">{{reports.formName(selected)}}</div>
      </div>
      <div class="col-md-6">
        <h4>Original Form Fields</h4>
        <div style="text-indent:10px" ng-repeat="fields in reports.selectedFields">{{fields.id}} - {{fields.label}} - {{fields.choices}}</div>
      </div>
      <div class="col-md-3">
        <h4>RMT:</h4>
        <div style="text-indent:10px" ng-repeat="rmtField in reports.rmt.resource"><span ng-if="rmtField.checked">{{rmtField.value}}</span></div>
        <div style="text-indent:10px" ng-repeat="rmtField in reports.rmt.attribute"><span ng-if="rmtField.checked">{{rmtField.value}}</span></div>
        <div style="text-indent:10px" ng-repeat="rmtField in reports.rmt.attention"><span ng-if="rmtField.checked">{{rmtField.value}}</span></div>
        <div style="text-indent:10px" ng-repeat="rmtField in reports.rmt.meta"><span ng-if="rmtField.checked">{{rmtField.value}}</span></div>
      </div>
    </div>

    <br/><br/>
    <button type="button" class="btn btn-success" ng-click="generateReport()">Generate Report</button>
  </div>

  <div ng-if="reports.showGrid && !reports.showbuild" class="reportsView col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeInUp">

    <div ng-if="reports.subRoute=='drill'">
      <button id="changeGrouping" type="button" class="btn btn-success" ng-click="reports.changeGrouping('item')">Group by Item->Type</button>
      <button id="changeGrouping" type="button" class="btn btn-success" ng-click="reports.changeGrouping('faire')">Group by Faire->Area->Subarea</button>
    </div>
    <div ui-grid="gridOptions" ui-grid-exporter  ui-grid-resize-columns ui-grid-grouping  class="grid">
      <div class="grid-msg-overlay" ng-hide="!reports.loading">
        <div class="msg">
          <span>
            Loading Data...
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </div>
      </div>
    </div>
  </div>


