  <!-- Faire Drop Down -->
  <div class="" ng-init="retrieveData('faires')">
    <div class="row">
      <div class="col-md-3">
        <h3>Select a Faire</h3>
        <select ng-model="reports.selFaire" ng-change="retGridData()" name="faireSelect">
          <option value="all">All Faires</option>
          <option ng-repeat="(key, faire) in reports.faires" value="{{faire.ID}}">{{faire.faire_name}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- grid to hold report data -->
  <div ng-if="reports.showGrid" class="reportsView animated fadeInUp">
    <div ng-if="reports.subRoute=='drill'">
      <button id="changeGrouping" type="button" class="btn btn-success" ng-click="reports.changeGrouping('item')">Group by Item->Type</button>
      <button id="changeGrouping" type="button" class="btn btn-success" ng-click="reports.changeGrouping('faire')">Group by Faire->Area->Subarea</button>
    </div>
    <div class="table-responsive">
      <div ui-grid="gridOptions" ui-grid-exporter  ui-grid-grouping  ui-grid-resize-columns ui-grid-auto-resize  class="grid">
        <div class="grid-msg-overlay" ng-hide="!reports.loading">
          <div class="msg">
            <span>
              Loading Data...
              <i class="fa fa-spinner fa-spin"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

