WP_ENV_URL=http://localhost
WP_ENV_PORT=31350
WP_ENV_TESTS_PORT=31351
WP_ENV_USER=admin
WP_ENV_USER_PASS=password
WP_ENV_PHP_VERSION=8.2
# A single path or a comma-separated list of paths to activate plugin(s) on startup
# Gravity Forms is required for GravityEdit to function
WP_ENV_PLUGINS=/path/to/gravityforms
GRAVITY_FORMS_LICENSE_KEY=
GRAVITYKIT_LICENSE_KEY=
