*~
.svn
.cvs
.git
.listing
*.bak
*.swp
*.log
cache
_wpeprivate
.cache
temp
tmp
*.tmp
imagecache*
uploads*
*_backup
gt-cache
ics-importer-cache

/.gitattributes

# root directory wordpress files:
/.htaccess
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# wordpress files:
/dataUpload/
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/applications
/wp-content/backup*
/wp-content/backups
/wp-content/blogs.dir/*/*
/wp-content/debug.log
/wp-content/exports
/wp-content/managewp
/wp-content/mu-plugins/
/wp-content/plugins
/wp-content/temp*
/wp-content/themes/*/cache
/wp-content/themes/twenty*
/wp-content/themes/index.php
/wp-content/upgrade
/wp-content/uploads
/wp-content/w3-*
/wp-content/w3tc*
/wp-content/w3tc-bak

# Gallaries in various places
/wp-content/gallery/*
/wp-content/album/*
gallery/*

node_modules/

pclzip-*
sitemap.*
wp-config.php
*.sql

# WordPress debugging files
log.txt
debug.log

# Found in the root of pod-1009
.a

# Forum software we probably shouldn't support anyway
forum/*

# known large file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.zip
*.tar
*.tgz
*.gz
*.pdf
