# WordPress Environment Configuration
WP_ENV_URL=http://localhost
WP_ENV_PORT=51337
WP_ENV_USER=admin
WP_ENV_USER_PASS=password
WP_ENV_PHP_VERSION=7.4

# Plugin Paths
# A single path or a comma-separated list of paths to plugins required for testing.
# Gravity Forms and GravityView are required. DataTables is automatically added from the project root.
WP_ENV_PLUGINS=/path/to/gravityforms,/path/to/GravityView

# License Keys
GRAVITY_FORMS_LICENSE_KEY=
GRAVITYKIT_LICENSE_KEY=
