/assets/jquery/
/assets/datatables-src/
/assets/datatables-**/docs/
/assets/datatables-**/examples/
/assets/jszip/docs/
/assets/jszip/documentation/
/assets/jszip/lib/
/assets/jszip/vendor/
*.scssc
*.sublime-project
*.sublime-workspace
composer.lock
vendor/.git
vendor/*/.git
node_modules/*
.idea/*
languages/gv-datatables-tr.mo

languages/gv-datatables-tr.po

assets/jszip/_config.yml

assets/jszip/.bower.json

assets/jszip/bower.json

assets/jszip/CHANGES.md

assets/jszip/component.json

assets/jszip/Gruntfile.js

assets/jszip/index.html

assets/jszip/LICENSE.markdown

assets/jszip/package.json

assets/jszip/README.markdown

assets/pdfmake/.bower.json

assets/pdfmake/bower.json

assets/pdfmake/LICENSE
package-lock.json
