.auth0-lock.auth0-lock .auth0-global-message.auth0-global-message-error {
      background: #ea002a;
}
.auth0-lock.auth0-lock .auth0-global-message .auth0-global-message-success {
    background: #00597e;  
}
.auth0-lock.auth0-lock .auth0-lock-input-block:last-child {
    font-size: 13px;
    padding-top: 10px;
}
.auth0-lock-input {
    color: #000;
}
.auth0-lock.auth0-lock .auth0-lock-input-wrap .auth0-lock-input.auth0-lock-input-location.auth0-lock-input-with-placeholder {
    color: #000;
}
.auth0-lock.auth0-lock .auth0-lock-terms {
    color: #000;
    font-weight: normal !important;
}
.auth0-lock.auth0-lock .auth0-global-message {
    color: #fff;
    text-align: center;
    padding: 10px;
    line-height: 1.8;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
}