.btn {
   border-radius: 2px;
   text-transform: uppercase;
   padding: 0.5em 2em;

   &.btn-outlined {
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;
      &:hover {
         color: #1987C7;
         border-color: #1987C7;
         background-color: #fff;
      }
   }

   &.btn-white {
      color: #1987C7;
      background-color: #fff;
      border: 1px solid #1987C7;
      &:hover {
         color: #fff;
         border-color: #005E9A;
         background-color: #005E9A;
      }
   }

}