.single-event {
   #eventHeader {
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      display: flex;
      flex-direction: column;;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      .logo-wrapper {
         display: flex;
         justify-content: center;
         h1 { 
            position: absolute;
            z-index: 9;
         }
         #faireLogo {
            position: relative;
            z-index: 99;
            max-width: 600px;
            width: 100%;
         }
      }
      .breadcrumbs {
         margin-top: 15px;
         color: #fff;
         font-weight: 500;
         a { color: #fff; }
      }
   }
   #faireInfo, #producerInfo {
      display: flex;
      flex-wrap: wrap;
      background: #1F1A2C;
      &> div {
         flex: 50%;
         position: relative;
         @media screen and (max-width: 981px) {
            flex: 100%;
         }
      }
   }
   #faireInfo {
      .faire-info-box {
         padding: 20px 30px 0 50px;
         color: #fff;
         font-size: 18px;
         display: flex;
         flex-direction: column;
         &> div {
            position: relative;
            z-index: 10;
         }
         .faire_date {
            text-transform: uppercase;
            margin-bottom: 20px;
         }
         .faire_country {
            font-size: 32px;
            margin: 0px 0 15px;
         }
         .spacer {
            margin-bottom: 20px;
         }
         .faire_stat {
            font-size: 50px;
            font-family: "Roboto Bold";
            margin: 0px;
         }
         .social-links.reversed {
            margin-top: auto;
            display: flex;
            margin-bottom: 20px;
         }
      }
   }
   #faireProjects {
      margin: 15px 0;
   }
   #producerInfo {
      .faire-custom-image {
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            padding: 40px;
            width: 80%;
            position: relative;
            z-index: 10;
         }
      }
      .producer-details {
         background-color: #fff;
         background-size: 125px;
         min-height: 300px;
         .producer-details-overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, .3);
            display: flex;
            justify-content: center;
            align-items: center;
            .producer-details-inner-wrap {
               background: #fff;
               padding: 15px 25px;
               min-width: 350px;
               min-height: 200px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               h3 { margin-top: 0px; }
            }
         }
      }
   }
   #faireHighlights {
      background: #1F1A2C;
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
         color: #fff;
         font-size: 80px;
         font-family: "Roboto Bold";
      }
      #highlightGallery {
         display: flex;
         flex-wrap: wrap;
         gap: 10px;
         max-width: 1120px;
         margin: 30px 15px 50px;
         .gallery-item {
            width: calc(25% - 9px);
            aspect-ratio: 16/9;
            // Fallback
            @supports not (aspect-ratio: auto) {
               &::before {
                  float: left;
                  padding-top: 56.25%;
                  content: "";
               }
               &::after {
                  display: block;
                  content: "";
                  clear: both;
               }
            }
            display: flex;
            justify-content: center;
            overflow: hidden;
            img {
               object-fit: cover;
               min-width: 100%;
               min-height: 100%
            }
         }
      }
   }
}

.striped-background {
   position: absolute !important;
   z-index: 5 !important;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgb(31, 26, 44);
   background-attachment: fixed;
   background-image: url("https://i0.wp.com/makerfaire.com/wp-content/uploads/2023/06/h5-img-9-1.png?fit=1920%2C1100&ssl=1");
   background-position: top right;
   opacity: 0.05;
}

.blue-spacer {
   height: 10px;
   background: #6EC1E4;
   width: 10%;
}
