.single-event {
   h2 {
      font-size: 80px;
      font-family: "Roboto Bold";
   }
   #faireInfo, #producerInfo {
      display: flex;
      flex-wrap: wrap;
      background: #1F1A2C;
      &> div {
         flex: 50%;
         position: relative;
         @media screen and (max-width: 981px) {
            flex: 100%;
         }
      }
   }
   #faireInfo {
      .faire-info-box {
         padding: 20px 30px 0 50px;
         color: #fff;
         font-size: 18px;
         display: flex;
         flex-direction: column;
         &> div {
            position: relative;
            z-index: 10;
         }
         .faire-date {
            text-transform: uppercase;
            margin-bottom: 20px;
         }
         .faire-country {
            font-size: 32px;
            margin: 0px 0 15px;
         }
         .blue-spacer {
            margin-bottom: 20px;
         }
         .faire-stat {
            font-size: 50px;
            font-family: "Roboto Bold";
            margin: 0px;
         }
         .social-links.reversed {
            margin-top: auto;
            display: flex;
            margin-bottom: 20px;
         }
      }
   }
   #producerInfo {
      margin-bottom: 20px;
      .faire-custom-image {
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            padding: 40px;
            width: 80%;
            position: relative;
            z-index: 10;
         }
      }
      .producer-details {
         background-color: #fff;
         background-size: 125px;
         min-height: 300px;
         .producer-details-overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, .3);
            display: flex;
            justify-content: center;
            align-items: center;
            .producer-details-inner-wrap {
               background: #fff;
               padding: 15px 25px;
               min-width: 350px;
               min-height: 200px;
               display: flex;
               flex-direction: column;
               justify-content: center;
               h3 { margin-top: 0px; }
            }
         }
      }
   }
   #faireProjects {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 { color: #000; }
      .projects-wrapper {
         margin: 30px;
         display: flex;
         gap: 15px;
         flex-wrap: wrap;
         justify-content: center;
         .faire-project {
            width: calc(33% - 15px);
            display: flex;
            justify-content: center;
            @media screen and (max-width: 982px) {
               min-width: calc(50% - 15px);
            }
            @media screen and  (max-width: 768px) {
               min-width: 100%;
            }
            a { 
               text-decoration: none;
               color: #000;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               width: 100%;
               .project-image {
                  aspect-ratio: 12 / 9;
                  // Fallback
                  @supports not (aspect-ratio: auto) {
                     &::before {
                        float: left;
                        padding-top: 66.25%;
                        content: "";
                     }
                     &::after {
                        display: block;
                        content: "";
                        clear: both;
                     }
                  }
                  display: flex;
                  justify-content: center;
                  overflow: hidden;
                  width: 100%;
                  img {
                     object-fit: cover;
                     width: 100%;
                     height: 100%;
                  }
               }
               h4 {
                  text-align: center;
                  font-family: "Roboto Bold";
                  font-size: 32px;
               }
               p {
                  text-align: center;
                  font-family: "Roboto Light";
                  display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 3;
						overflow: hidden;
               }
               .universal-btn {
                  margin-top: auto;
                  align-items: center;
                  display: flex;
                  min-width: 120px;
                  max-height: 35px;
               }
            }
         }
      }
   }
   #faireHighlights {
      background: #1F1A2C;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
         color: #fff;
      }
   }
}

.striped-background {
   position: absolute !important;
   z-index: 5 !important;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgb(31, 26, 44);
   background-attachment: fixed;
   background-image: url("https://i0.wp.com/makerfaire.com/wp-content/uploads/2023/06/h5-img-9-1.png?fit=1920%2C1100&ssl=1");
   background-position: top right;
   opacity: 0.05;
}

.blue-spacer {
   height: 10px;
   background: #6EC1E4;
   width: 10%;
}

#highlightGallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   margin: 30px 15px 50px;
   width: 100%;
   .gallery-item {
      width: calc(25% - 15px);
      aspect-ratio: 16/9;
      // Fallback
      @supports not (aspect-ratio: auto) {
         &::before {
            float: left;
            padding-top: 56.25%;
            content: "";
         }
         &::after {
            display: block;
            content: "";
            clear: both;
         }
      }
      display: flex;
      justify-content: center;
      overflow: hidden;
      img {
         object-fit: cover;
         min-width: 100%;
         min-height: 100%
      }
   }
}

.hero-header {
   background-repeat: no-repeat;
   background-size: cover;
   height: 320px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
   position: relative;
   .logo-wrapper {
      display: flex;
      justify-content: center;
      min-height: 75px;
      h1 { 
         position: absolute;
         z-index: 9;
         color: #fff;
         text-shadow: 1px 1px 3px black;
      }
      #faireLogo {
         position: relative;
         z-index: 99;
         max-width: 600px;
         width: 100%;
      }
   }
}

.eoy-breadcrumbs {
   text-align: center;
   margin: 0px 0px 20px;
   z-index: 99;
   position: relative;
   font-size: 18px;
   font-weight: 500;
   a {
      color: #000;
   }
}