.faire-global-map-wrp {
  #faire-global-map {
    height: 400px;
  }
  .faire-list-table {
    td {
      word-break: break-word;
    }
  }
  h1 {
    font-weight: 300;
    font-size: 30px;
  }
  .map-filters-wrp {
    background-color: #EBF0F3;
    margin: 0 0 20px 0;
    h2 {
      float: left;
      font-size: 14px;
      font-weight: 300;
      margin: 6px 20px 0 0;
    }
    input[type="text"] {
      float: left;
      max-width: 200px;
    }
    .checkbox {
      float: right;
      margin: 5px;
      font-size: 12px;
      line-height: 20px;
      vertical-align: bottom;
    }
  }
  .loading-spinner {
    color: white;
    padding: 190px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    height: 400px;
    background-color: #EBF0F3;
  }
  .faire-key-boxes {
    display: flex;
    justify-content: space-between;
    color: white;
    div {
      width: 32.5%;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0 15px 0;
    }
    .flagship-key {
      background-color: #1DAFEC;
    }
    .featured-key {
      background-color: #E75662;
    }
    .mini-key {
      background-color: #F3BF70;
    }
  }
}
