#makerfaire .faire-countdown {
  position: absolute;
  bottom: 12px;
  left: 0;
  margin: 0;
  padding: 2px 14px 14px 14px;
  .btn-buy-tickets {
    margin-top: 0;
  }
  .countdown {
    display: flex;
    margin-bottom: 5px;
    .unit {
      float: left;
      font-weight: 500;
      font-size: 33px;
      flex: 1;
      text-align: center;
      .marker {
        font-size: 12px;
        margin-top: -5px;
        color: #9B9B9B;
      }
    }
  }
}
