#makerfaire .faire-countdown {
  position: absolute;
  bottom: 12px;
  left: 0;
  margin: 0;
  padding: 1px 5px 12px 5px;
  text-align: center;
  .btn-buy-tickets {
    width: 91%;
    margin-top: -1px;
    font-size: 12px;
  }
  .countdown {
    display: flex;
    margin: 0 1px 5px -2px;
    width: 143px;
    .unit {
      float: left;
      font-weight: 500;
      flex: 1;
      .number {
        letter-spacing: -1px;
        font-size: 35px;
        color: #4A4A4A;
      }
      .key {
        font-size: 9px;
        margin: -10px 0 0 -1px;
        color: #9B9B9B;
      }
    }
  }
}
