#makerfaire .faire-countdown {
  position: absolute;
  bottom: 12px;
  left: 0;
  margin: 0;
  padding: 0px 3px 11px 3px;
  text-align: center;
  .btn-buy-tickets {
    width: 89%;
    margin-top: -1px;
    font-size: 12px;
  }
  .countdown {
    display: flex;
    margin-bottom: 5px;
    width: 143px;
    .unit {
      float: left;
      color: #4A4A4A;
      font-weight: 500;
      font-size: 35px;
      letter-spacing: -1px;
      flex: 1;
      .marker {
        font-size: 11px;
        margin-top: -10px;
        color: #9B9B9B;
      }
    }
  }
}
