#makerfaire .faire-global-map-wrp {
  #faire-global-map {
    height: 400px;
    display: block;
  }
  .faire-date-toggle {
    color: #3D7B98;
    cursor: pointer;
    background-color: #EEF2F5;
    display: inline-block;
    padding: 10px 20px;
    &:hover {
      background-color: darken(#EEF2F5, 10%);
    }
    &.active {
      color: white;
      background-color: #3D7B98;
      &:hover {
        background-color: #3D7B98;
      }
    }
  }
  .faire-list-table {
    border-top: solid 1px #3D7B98;
    td,
    th {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    th {
      font-size: 12px;
      font-weight: 500;
      color: #9B9B9B;
    }
    td {
      word-break: break-word;
      font-size: 14px;
    }
    th:nth-child(1){width:7%;}
    th:nth-child(2){width:10%;}
    th:nth-child(3){width:16%;}
    th:nth-child(4){width:33%;}
    th:nth-child(5){width:19%;}
    th:nth-child(6){width:15%;}
  }
  h1 {
    font-weight: 300;
    font-size: 30px;
  }
  .map-filters-wrp {
    background-color: #EBF0F3;
    margin: 0 0 20px 0;
    padding: 8px 0;
    z-index: 100;
    width: 100%;
    top: 0px;
    h2 {
      float: left;
      font-size: 14px;
      font-weight: 300;
      margin: 10px 20px 0 0;
    }
    .searchbox {
      input[type="text"] {
        float: left;
        max-width: 215px;
        padding-right: 23px;
      }
      .fa.fa-times-circle {
        font-size: 20px;
        color: rgba(0,0,0,0.5);
        padding: 7px 4px 4px 4px;
        margin-left: -25px;
        float: left;
        &:hover {
          color: rgba(0,0,0,0.75);
          background: rgba(0,0,0,0.1);
        }
      }
    }

    .filters {
      display: inline-block;
      float: right;
      @media all and (max-width: 991px) {
        float: left;
        clear: both;
        padding-top: 5px;
      }
      .map-filter-title {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 6px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: 300;
        @media all and (max-width: 767px) {
          display: none;
        }
      }
      .ng-isolate-scope {
        display: inline-block;
      }
      .map-filter-flagship {
        color: #D42410;
        .checkbox-fa-icon:checked {
          &~.fa-circle,
          &~ng-transclude span {
            color: #c4210f;
          }
        }
      }
      .map-filter-featured {
        color: #085a7e;
        .checkbox-fa-icon:checked {
          &~.fa-circle,
          &~ng-transclude span {
            color: #074f6e;
          }
        }
      }
      .map-filter-mini {
        color: #67D0F7;
        span {
          color: #5CBBDD;
        }
        .checkbox-fa-icon:checked {
          &~.fa-circle,
          &~ng-transclude span {
            color: #57cbf6;
          }
        }
      }
      .map-filter-school {
        color: #7ED321;
        .checkbox-fa-icon:checked {
          &~.fa-circle,
          &~ng-transclude span {
            color: #75c41f;
          }
        }
      }
    }
    .checkbox {
      margin: 5px 0px 5px 38px;
      font-size: 16px;
      line-height: 20px;
      vertical-align: bottom;
      // input circle checkbox with fontawesome:
      .checkbox-fa-icon {
        display: none;
        &~.fa.fa-circle {
          display: none;
          color: inherit;
        }
        &~.fa.fa-circle-o {
          display: inline;
          color: inherit;
        }
        &:checked {
          &~.fa.fa-circle {
            display: inline;
          }
          &~.fa.fa-circle-o {
            display: none;
          }
        }
      }
      .fa.fa-circle,
      .fa.fa-circle-o {
        font-size: 22px;
        vertical-align: middle;
        &:before {
          position: absolute;
          left: -22px;
          top: -1px;
        }
      }
      label {
        padding-left: 2px;
        @media all and (min-width: 1200px) {
          padding-left: 5px;
        }
        @media all and (max-width: 991px) {
          padding-left: 5px;
        }
      }
      @media all and (max-width: 1199px) {
        margin: 5px 0 5px 33px;
      }
      @media all and (max-width: 480px) {
        margin: 0px 5px 5px -5px;
        font-size: 14px;
        .fa.fa-circle-o,
        .fa.fa-circle {
          font-size: 18px;
          &:before {
            position: static;
          }
        }
      }
    }
    @media all and (max-width: 767px) {
      .searchbox {
        display: flex;
        input[type="text"] {
          flex: 1;
          max-width: initial;
        }
      }
      .filters {
        clear: both;
        min-width: 200px;
        float: left;
        margin: 5px 0 -5px 0;
      }
    }
  }
  .loading-spinner {
    color: white;
    padding: 190px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    height: 400px;
    background-color: #EBF0F3;
  }
  .faire-key-boxes {
    display: flex;
    font-size: 20px;
    cursor: pointer;
    p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 0px;
      margin-top: 3px;
    }
    @media all and (max-width: 767px) {
      flex-flow: column;
      margin: 10px 0;
      font-size: 18px;
    }
    justify-content: space-between;
    color: white;
    div {
      line-height: 1.1em;
      width: 24.5%;
      @media all and (max-width: 767px) {
        width: 100%;
        margin: 3px 0;
      }
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0 15px 0;
    }
    .flagship-key {
      background-color: #D42410;
      &:hover {
        background-color: #c4210f;
      }
    }
    .featured-key {
      background-color: #085a7e;
      &:hover {
        background-color: #074f6e;
      }
    }
    .mini-key {
      background-color: #67D0F7;
      &:hover {
        background-color: #57cbf6;
      }
    }
    .school-key {
      background-color: #7ED321;
      &:hover {
        background-color: #75c41f;
      }
    }
  }
  .firstHeading {
    font-size: 16px;
  }
}
