

@feat_img_touch_lg_breakpoint: 960px;
@feat_img_touch_sm_breakpoint: 768px;

// Flexbox Approach, for older IE; overridden by the grid approach below
// .featured-image-grid {
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       justify-content: space-between;
//       .grid-item {
//          flex-basis: 23%;
//          height: 150px;
//          padding-top: 22%;
//          background-repeat: no-repeat;
//          background-position: center;
//          background-size: cover;
//          margin: 0 15px 25px;
//          display: flex;
//       }
//       .grid-item-title-block {

//       }
// }


.featured-image-grid {
   display:-ms-grid;
   display: grid;
   -ms-grid-columns: repeat(auto-fill, minmax(320px, 1fr));
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
   grid-column-gap: 24px;
   grid-row-gap: 24px;
   @media screen and (max-width: @feat_img_touch_lg_breakpoint) {
      display: block;
   }
   .grid-item {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      // Responsive Height
      height: 150px;
      padding-top: 50%;
      box-sizing: content-box;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      overflow: hidden;

      &:hover {
         &> .grid-item-desc {
            transform: translateX(0);
            transition: transform 0.25s ease-in-out;
         }
      }
      @media screen and (max-width: @feat_img_touch_lg_breakpoint) {
         display: block;
         width: 50%;
         overflow: visible;
         margin-bottom: 24px;
         &:hover {
            &> .grid-item-desc {
               transform: translateX(100%);
               transition: transform 0.25s ease-in-out;
            }
         }
      }
      @media screen and (max-width: @feat_img_touch_lg_breakpoint) {
         display: flex;
         flex-direction: column;
         height: 300px;
         padding-top: 0;
      }
   }
   .grid-item-title-block {
      background-color: #333;
      background-color: rgba(0,0,0,.6);
      color: #dedede;
      padding: 0.5em 0.75em;


      h3, p {
         margin: 0;
         padding: 0;
      }
      h3 {
         font-size: 22px;
      }

      @media screen and (max-width: @feat_img_touch_lg_breakpoint) {
         position: absolute;
         bottom: 0;
         width: 100%;
      }

      @media screen and (max-width: @feat_img_touch_sm_breakpoint) {
         background-color: #333;
         position: relative;
         bottom: auto;
         transform: translateX(100%);

         h3 {
            font-size: 16px;
         }

         p {
            font-size: 12px;
         }
      }
   }
   .grid-item-desc {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1em;
      background-color: #333;
      background-color: rgba(0,0,0,0.8);
      color: #f3f3f3;
      width: 100%;
      height: 100%;
      transform: translateX(100%);
      transition: transform 0.25s ease-in-out;
      overflow: hidden;
      text-decoration: none;
      @media screen and (max-width: @feat_img_touch_lg_breakpoint) {
         position: absolute;
         transform: translateX(100%);
         top: 0;
         overflow: visible;
         display: block;
      }
      h4 {
         margin: 0;
      }
      @media screen and (max-width: @feat_img_touch_sm_breakpoint) {
         position: relative;
         display: flex;
         h4 {
            display: none;
            height: 0;
            overflow: hidden;
         }
         .desc-body {
            height: 0;
            overflow: hidden;
         }
      }
      .read-more-link {
         bottom: 0;
         border: 1px solid #fff;
         background-color: #333;
         width: 100%;
         padding: 1em 0;
         justify-self: flex-end;
         align-self: flex-end;
         &:hover {
            background-color: #fff;
         }
         @media screen and (max-width: @feat_img_touch_sm_breakpoint) {
            align-self: flex-end;
         }
      }

   }
}
