#copyModal {
    .modal-body {
        .row {
            font-size: 14px;
            font-weight: 300;
            color: #333;
        }
        .header {
            font-weight: 500;
            color: #9B9B9B;
        }
        .striped:nth-of-type(odd) {
            background-color: #EDF2F5;
        }
    }
    .modal-footer {
        a .btn {
            color: #1989C7;
        }
    }
}

.feedback-project-title input {
	font-weight: 800;
	background: #3fafed;
	padding: 10px 20px;
	color: #fff;
	font-size: 2.2em;
	text-align: center;
	@media screen and (max-width: 768px) {
		font-size: 1.2em;
	}
}

.tingle-modal.gpnf-modal {
    z-index: 9999999;
}

.gform_wrapper .gfad_form {
    .gf_page_steps {
        border-bottom: solid 1px #005e9a;
        margin-bottom: 30px;
        padding-bottom: 0px;
        .gf_step {
            margin: 0 10px 0 0;
            padding: 10px 20px;
            font-size: 18px;
            border: 1px solid #ccc;
            border-bottom: 0 !important;
            background: #ccc;
            color: white;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            max-width: 100%;
            text-align: center;
            height: auto;
            opacity: 1;
            a, a:hover { color: #fff; text-decoration: none; }
            @media screen and (max-width: 640px) {
                border-radius: 5px;
                border-bottom: 1px solid #005e9a;
                margin-bottom: 5px;
            }
            .gf_step_number { display: none; }
            &.gpmpn-step-current { border: 1px solid #005e9a; }
            &.gpmpn-step-linked {
                background: #005e9a;
                border: 1px solid #005e9a;
                &:hover {
                    background: rgba(0, 94, 154, .8);
                    color: #fff;
                }
            }
        }
        .gf_step_active {
            background: white;
            color: #005e9a;
            &:hover {
                background: white;
                color: #005e9a;
            }
        }
        .gf_step_clear { height: 0px; }
    }
    select { 
        height: 36px;
        border-radius: 0px;
        border: solid 1px #ccc;
    }
    button {
        border-radius: 5px;
        &.universal-btn-navy {
            width: 100%;
        }
        &.gpnf-add-entry {
            margin: 3px;
            margin-top: 10px;
        }
    }
    .gform_page_footer {
        display: flex;
        input[type=submit], .gform_previous_button, .gform_next_button, .button.gform_button.gform_last_page_button {
            background: #005e9a;
            box-shadow: none;
            color: #fff;
            display: inline-flex !important;
            border: solid 1px #005e9a;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            text-transform: uppercase;
            font-size: 16px !important;
            font-weight: 300;      
            height: 49px;
            border-radius: 5px;
            margin-bottom: 0px !important;
            padding-left: 17px !important;
            margin-bottom: 10px;
            line-height: 1 !important;
            &:focus, &:active, &:visited {
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                background: #fff;
                color: #005e9a
            }
        }
        .gform_previous_button {
            margin-top: -2px !important;
        }
    }
    .gform_page_footer.top_label input[type=submit] { padding: 0px 20px; display: inline-flex !important }
    .gform_previous_button {
        position: relative;
        top: 2px;
    }
    .container-gnb::after, .container-gpb::after {
        display: none;
    }
    .gform_save_link {
        background-color: #fff;
        border: solid 1px #005e9a;
        color: #005e9a;
        display: inline-flex !important;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;      
        height: 50px;
        padding: 15px;
        border-radius: 5px;
        margin-left: 0px !important;
        &:focus, &:active, &:visited {
            color: #fff;
            text-decoration: none;
        }
        &:hover {
            background: #005e9a;
            color: #fff;
            border-color: #005e9a;
        }
    }
}
.gform_body{
    .description-header {
        text-align: center;
        font-size: 16px;
    }
    .description-box-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .description-box {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            border: solid #005e9a;
            padding: 20px;
            border-radius: 10px;
            text-align: left;
            margin: 10px;
            h5 { 
                font-weight: bold;
                text-align: center;
                font-size: 1.6em;
                color: #005e9a;
                margin-bottom: 20px;
            }
            li {
                font-size: 16px;
                b { 
                    font-size: 17px;
                    font-family: "Roboto";
                }
            }
        }
    }
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: -2px !important;
}

.gpnf-nested-entries {
    .edit {
        margin-right: 15px;
    }
}

#gform_wrapper_243 {
    .gform_description {
        h2 {
            width: 200%;
            margin: 0px;
            margin-bottom: 30px;
            margin-left: -50%;
            text-align: center;
            background: #151733;
            color: #fff;
            padding: 30px;
        }
        small { color: #fff; }
    }
}

//read only field styling
.gform_wrapper input[readonly='readonly'] {
    border-color: transparent;
    cursor: not-allowed;
}