#copyModal {
  .modal-body {
    .row {
      font-size: 14px;
      font-weight: 300;
      color: #333;
    }
    .header {
      font-weight: 500;
      color: #9B9B9B;
    }
    .striped:nth-of-type(odd) {
      background-color: #EDF2F5;
    }
  }
}