#copyModal {
	.modal-body {
		.row {
			font-size: 14px;
			font-weight: 300;
			color: #333;
		}
		.header {
			font-weight: 500;
			color: #9B9B9B;
		}
		.striped:nth-of-type(odd) {
			background-color: #EDF2F5;
		}
	}
	.modal-footer {
		a .btn {
			color: #1989C7;
		}
	}
}

.gform_wrapper .top_label {
	.tabs > .gfield_label {
		display: none;
	}

	.tabs {
		border-bottom: solid 1px #005e9a;
		margin-bottom: 30px;
		display: flex;
		li {
			float: left;
			margin-bottom:0;
			label {
				margin: 0 10px 0 0;
				padding: 10px 20px;
				font-size: 18px;
				border: 1px solid #005e9a;
				border-bottom: 0;
				background: #005e9a;
				color: white;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				max-width: 100%;
				text-align: center;
				&:hover {
					background: rgba(0, 94, 154, .8);
				}
			}
		}
		input[type=radio] {
			display: none;
			&:checked ~ label {
				background: white;
				color: #005e9a;
			}
		}
	}
	select { 
		height: 36px;
		border-radius: 0px;
		border: solid 1px #ccc;
	}
	button {
		border-radius: 5px;
		&.universal-btn-navy {
			width: 100%;
		}
	}
	input[type=submit] {
		background-color: #005e9a;
		color: #fff;
		display: inline-flex;
		border: solid 1px #005e9a;
	    justify-content: center;
	    align-content: center;
		align-items: center;
	    flex-direction: column;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 300;      
		height: 50px;
		padding: 15px;
		border-radius: 5px;
		&:focus, &:active, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
		  background: #fff;
		  color: #005e9a
		}
	}
	.gform_save_link {
		background-color: #fff;
		border: solid 1px #005e9a;
		color: #005e9a;
		display: inline-flex !important;
	    justify-content: center;
	    align-content: center;
		align-items: center;
	    flex-direction: column;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 300;      
		height: 50px;
		padding: 15px;
		border-radius: 5px;
		margin-left: 0px;
		margin-top: -20px;
		&:focus, &:active, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
		  background: #005e9a;
		  color: #fff;
		  border-color: #005e9a;
		}
	}
}

.description-box-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	.description-box {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
		border: solid #005e9a;
		padding: 20px;
		border-radius: 10px;
		text-align: left;
		margin: 10px;
		h5 { font-weight: bold; }
	}
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: -2px !important;
}

.gpnf-nested-entries {
	.edit {
		margin-right: 15px;
	}
}

#gform_wrapper_243 {
	.gform_description {
		h2 {
			width: 200%;
			margin: 0px;
			margin-bottom: 30px;
			margin-left: -50%;
			text-align: center;
			background: #151733;
			color: #fff;
			padding: 30px;
		}
		small { color: #fff; }
	}
}