.invoice {
  table.services {
    width: 100%;
    border-bottom: thin solid lightgrey;
    th,td {
      padding: 5px 0;
    }
    th {
      border-bottom: thin solid lightgrey;
      text-align:right;
    }
    th:first-child {
      text-align: left;
    }
    .service td {
      text-align:right;
    }
    .service .service_name {
      width: 50%;
      text-align:left;
    }

  }
  .ginput_product_price_label {
    display: none;
  }
}