/* maker admin e.g. makerfaire.com/manage-entries */
.maker-admin-manage-faire-entries-mobile {
  margin-bottom: 100px;
  .maker-admin-list-wrp {
    padding: 15px 0;
  }
  i {
    margin: .2em;
  }
  .clear {
    clear: both;
  }
  .dropdown {
    margin-top: 25px;
    width: 250px;
    a { 
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
    #dropdownMenuLink {
        display: block;
        border: 1px solid rgba(0,0,0,0.15);;
        padding: 10px 20px;
        .fa-sort-down {
            float: right;
        }
    }
    .dropdown-menu {
        width: 250px;
        margin-top: -1px;
        box-shadow: none;
        -webkit-box-shadow: none;
        .dropdown-item {
            padding: 10px 0px;
        }
    }
  }
  .gv-list-view-title-maker-entry {
    @media (max-width: 1199px) {
      font-size: .9em;
    }
    @media (min-width: 767px) {
      position: relative;
    }
    div.entryData {
      line-height: 1.3em;
      clear: both;
    }
    .entryImg {
      @media (min-width: 768px) {
        width: 20%;
        overflow: hidden;
        float: left;
      }
      .image-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        float: left;
        @media (max-width: 767px) {
          height: 49vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          height: 20vw;
        }

        @media screen and (min-width: 1200px) {
          height: 17vw;
        }
      }
    }
    .entry-main-content {
      @media (max-width: 767px) {
          min-height: 47vw;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          min-height: 18vw;
          font-size: .9em;
        }
        @media screen and (min-width: 1200px) {
          min-height: 14.8vw;
        }
    }
    .statusBox {
      height: 1.924em;
      display: block;
      padding: .2em 1em;
      border-radius: 4px;

      .statusFaire {
        float: left;
      }
      .statusText {
        color: white;
        float: right;
      }

      @media screen and (max-width: 767px) {
        height: 3.1em;
        .statusText, .statusFaire {
          float: none;
        }
      }
    }
    .statusBox.greenStatus {
      background-color: #7ED321;
    }
    .statusBox.greyStatus {
      background-color: #B6B6B6;
    }

    .statusBox, .entry-main-content {
      float: right;
      width: 79%;
      @media screen and (max-width: 767px) {
        float: none;
        width: 100%;
      }
    }
    .entryName {
      .entry-title {
        font-weight: 100;
        clear: both;
        float: left;
        margin-bottom: 10px;
        font-size: 2em;
        min-height: 2.2em;
        @media screen and (max-width: 1199px) {
          font-size: 2em;
        }
      }
    }
    .editLink {
      margin-top: 1em;
      margin-left: 1em;
      float: left;
      font-size: .9em;
      @media (max-width: 1199px) {
        margin-left: 0;
        margin-top: .5em;
        clear:both;
      }
    }
    .submit-date {
      float:left;
      padding-top: 3px;
      @media (max-width: 767px) {
        margin-top: 2em;
        padding: 0;
      }
    }
    .entry-action-buttons {
      float: right;
      .hideSmall {
        @media screen and (max-width: 1199px) {
          display: none;
        }
      }
    }
    .submit-date,
    .entry-action-buttons {
      line-height: 2em;
      font-size: 14px;
      .btn {
        line-height: 2em;
        font-size: 14px;
        @media screen and (max-width: 1199px) {
          padding-right: .2em;
          padding-left: .2em;
        }
        @media screen and (max-width: 1199px) {
          font-size: .9em;
        }
      }
      @media (max-width: 767px) {
        border-top: solid 1px grey;
        text-align: right;
        float: none;
      }
      @media screen and (max-width: 1199px) {
        font-size: .8em;
      }
    }
    .notifications-button {
      .notification-counter {
        color: white;
        background-color: red;
        width: 1.5em;
        border-radius: 50%;
        height: 1.5em;
        display: inherit;
        line-height: 1.5em;
      }
    }
    .entry-main-content {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: relative;
      }
    }
    .mat_message {
      @media screen and (min-width: 768px) {
        width: 100%;
      }
    }

    .mat-ticketing {
      border-bottom: thin solid lightgrey;
      padding: 5px 0;
      .subtitle {
        color: #9B9B9B;
      }
      .title {
        font-size: 15px;
      }
      i.fa-chevron-circle-right {
        color: #00B4F3;
      }
    }

    .actionSection {
      width: 100%;
      @media (min-width: 768px) {
        border-top: solid 1px grey;
        border-bottom: solid 1px grey;
        width: 100%;
        position: relative;
        bottom: 0;
        height: 2.5em;
        margin-top: 1em;
      }
    }
  }
  .manage-entry-popover {
    font-size: 14px;
    h6, a, .disabled {
      display: block;
      padding: 6px 10px;
    }
    h6 {
      font-size: 17px;
      font-weight: 400;
      padding-top: 10px;
      margin-bottom: -5px;
      border-top: solid 1px grey;
    }
    a {
      color: inherit;
      &:hover {
        background-color: darken(white, 2%);
      }
    }

    .manage-links {
      &:not(:last-child) {
        border-bottom: thin solid lightgrey;
      }
    }
  }
  .submit-entry {
    .btn {
      background-color: #00B4F3;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
    }
  }
  .popover {
    max-width: 100%;
    min-width: 200px;
  }
  .popover-content {
    .footer{
      font-size: 10px;
      text-align: center;
      color: #9B9B9B;
      border: none;
    }
    ul {
      list-style-type: none;
      padding-left:10px;
      padding-top: 10px;
      ul {
        padding-top: 0;
        padding-left: 0;
      }
    }
  }
  .tasks {
    .fa-arrow-right {
      color: red;
    }
    i.fa-check {
      color: green;
    }
  }
}