body { overflow-x: hidden; }
header.universal-nav {
  position: relative;
  background: #fff;
}
.nav-level-1 {
  height: 75px;
  position: relative;
  @media screen and (max-width: 767px) {
    height: 55px;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0px;
	box-shadow: 1px 1px 10px #666;
  }
  nav.container, .nav-level-1-nav, .nav-level-1-auth, li {
    height: 100%;
  }
  .nav-level-1-nav {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 170px;
    padding: 0;
    list-style: none;
    display: inline-block;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      margin-left: 98px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-left: 100px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    li {
      font-size: 16px;
      display: inline;
      float: left;
      position: relative;
      &:nth-child(4) {
        margin-left: 180px;
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          margin-left: 170px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin-left: 134px;
        }
      }
      a {
        padding: 0 23px;
        height: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: stretch;
        -webkit-justify-content: stretch;
        align-items: center;
        -webkit-align-items: center;
        span {
          color: #333;
          opacity: .6;
          line-height: 1em;
          padding-top: 1px;
        }
        &:hover, &:active, &:focus {
          text-decoration: none;
          outline: 0;
          span {
            opacity: 1;
            text-decoration: none;
          }
        }
        span::after {
          display: block;
          content: attr(title);
          height: 1px;
          color: transparent;
          overflow: hidden;
          visibility: hidden;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          padding: 0 19px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          padding: 0 7px;
          font-size: 14px;
        }
      }
      .nav-level-2-arrow {
        opacity: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #005E9A;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: opacity 0.1s ease-in-out;;
      }
      &.active-site {
        a span{
          opacity: 1;
        }
        .nav-level-2-arrow {
          opacity: 1;
        }
      }
    }
  }
  .navbar-brand {
    width: 134px;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    @media screen and (max-width: 991px) {
      width: 120px;
    }
  }
}
.nav-level-1-auth {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  position: relative;
  float: right;
  @media screen and (max-width: 767px) {
    float: right;
    margin-right: 40px;
  }
  li {
      display: inline-block;
      float: left;
      padding: 0;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: stretch;
      -webkit-justify-content: stretch;
      button, a, #qsLogoutBtn {
        border: 0px;
        background: none;
        color: #333;
        font-size: 14px;
        text-decoration: none;
        opacity: .6;
        display: flex;
        display: -webkit-flex;
        justify-content: stretch;
        -webkit-justify-content: stretch;
        align-items: center;
        -webkit-align-items: center;
        &:hover, &:active, &:focus {
          text-decoration: none;
          opacity: 1;
        }
      }
      a#newLoginBtn {
        color: red;
        font-weight: 700;
        font-size: 16px;
      }
      #btn-logout { display: none; }
  }
    
  #qsLoginBtn { display: none; }
  #profile-view {
      display: none;
      #dropdownMenuLink {
          position: relative;
          z-index: 999;
          opacity: 1;
          &:active {
              box-shadow: none;
              -webkit-box-shadow: none;
          }
      }
      .avatar {
        display: none;
        opacity: .9;
        height: 38px;
        &:hover {
          opacity: .6;
        }
      }
	   .profile-email {
			 font-family: 'Roboto';
			 text-transform: uppercase;
			 white-space: nowrap;
			 overflow: hidden;
			 text-overflow: ellipsis;
			 max-width: 220px;
			 font-size: 12px;
          font-weight: 600;
		}
      .dropdown-menu {
          z-index: 998;
          padding: 80px 25px 25px;
          font-family: 'Roboto', serif;
          margin-left: -160px;
          margin-top: -70px;
          width: 660px;
          border-radius: none;
          @media screen and (max-width: 767px) {
              margin-left: -195px;
              width: 400px;
          }
          @media screen and (max-width: 576px) {
              margin-left: -55px;
              padding-left: 65px;
              padding-top: 60px;
              width: 400px;
          }
          &:after {
            font-family: 'Linearicons-Free';
            content: "\e870";
            color: #ED1C24;
            font-size: 36px;
            position: absolute;
            top: 35px;
            left: 33%;
            border: none;
            @media screen and (max-width: 767px) {
                display: none;
            }
          }
          h3 { 
              margin-top: 0px; 
              margin-bottom: 20px;
              display: inline;
              position: relative;
              line-height: .8em;
              color: #333;
              padding-bottom: 2px;
              opacity: .85;
              font-size: 20px;
              font-weight: 500;
              font-family: 'Roboto', serif;
              transition: font-weight .1s ease-in-out;
              line-height: 1em;
              display: inline;
              position: relative;
              overflow: hidden;
              &:after {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  left: 0;
                  right: 50%;
                  bottom: -5px;
                  background: #ED1C24;
                  height: 4px;
                  transition-property: left right;
                  transition-duration: 0.3s;
                  transition-timing-function: ease-out;
                }
                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 18px;
                }
                @media screen and (min-width: 576px) and (max-width: 767px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 576px) {
                    margin-top: 35px;
                    display: block;
                    overflow: visible;
                }
          }
          a, #qsLogoutBtn {
              color: #333;
              display: block;
              margin-bottom: 15px;
              margin-top: 20px;
              font-size: 16px;
          }
      }
  }
}
@media screen and (max-width: 767px) {
    #page-content .front-page.container{
        margin-top: 55px;
    }
}