// Grey out nav links
li.disabled a {
  color: #999 !important;
  cursor: default !important;
}

// since wordpress won't let us place left-hand-nav after content, responsive reordering of elements has to happen another way
.page-leftnav > .row {
  margin: 0px;
  @media(max-width: 992px) {
    transform: scaleY(-1);
    .left-hand-nav, .content {
      transform: scaleY(-1);
    }
    .second-block {
      margin-top: 30px;
      border-top: solid 1px #ccc;
      padding: 25px 0px 15px;
    }
  }
}
// Left Hand Navigation
.left-hand-nav {
	#menu-ny-left-hand-nav, #menu-ba-left-hand-nav, #menu-toolkit-left-hand-nav {
		margin-top: 15px;
		margin-left: -5px;
		position: relative;
		text-align: left;
		@media(min-width:992px) and (max-width:1170px) {
			padding-left: 25px;
		}
		li {
			color: #4A4A4A;
			font-family: 'Roboto';
			line-height: 1.2em;
			list-style: none;
			width: 125%;
			margin-left: -25%;
			padding-left: 25%;
			cursor: pointer;
			position: relative;
			a{ 
				padding: 7px 0px;
				display: block;
				&:active {
					text-decoration: underline;
				}
			}
			&:hover, &.current-menu-item {
				background: #F0F0F0;
			}
			// dropdown sections
			&.menu-item-has-children {
				ul {
					display:none;
				}
				&.expanded-lnav {
					position: relative;
					&:hover {
						background: linear-gradient(180deg, #ccc 32px, #ffffff 0%);
					}
					ul {
						display: block;
					}
			   }
			}
			&.menu-item-has-children > a {
				display: block;
				height: 32px;
				pointer-events: none;
				&:after {
					content: '+';
					position: absolute;
					top: 8px;
					right: 0px;
					padding-right: 30px;
				}
			}
			&.menu-item-has-children.expanded-lnav > a {
				&:after {
						content: '-';
						font-weight: 600;
				}
			}
		}
		.nav-title {
			font-family: 'Roboto Light';
			letter-spacing: 0.26px;
			color: #4A4A4A;
			margin-bottom: 15px;
			padding: 0px;
			margin-left: 0px;
			width: auto;
			text-transform: uppercase;
			&:hover { background: transparent; }
			a {
				font-size: 38px;
				line-height: 1.2em;
				margin-left: -25%;
				padding-left: 25%;
				color: #00aeef;
				@media(max-width:1100px) {
					font-size: 30px;
				}
				&:hover {
					background: #F0F0F0;
				}
			}
		}
		.nav-flag {
			width: auto;
			margin-right: 39px;
			background: #00AEEF;
			height: 98px;      
			width: 125%;
			margin-left: -25%;
			padding-left: 25%;
			margin-bottom: 15px;
			display: flex;
      align-items: center;
			&:hover { background: #00AEEF; }
			a { 
				color: #fff;
				font-family: 'Roboto Condensed';
				font-size: 20px;
				line-height: 24px;
				text-transform: uppercase;
				pointer-events: none;
				cursor: default;
				max-width: 90%;
				.date {
					font-size: 34px;
					@media(min-width:992px) and (max-width:1336px) {
						font-size: 26px;
					}
				}
				@media(min-width:992px) and (max-width:1336px) {
					font-size: 15px;
				}
			}		
			&:after {
				content: "";
				border-top: 50px solid transparent;
				border-bottom: 50px solid transparent;
				border-right: 30px solid #fff;
				position: absolute;
				right: 0;
				top: 0px;
			}
			@media(max-width: 992px) {
				margin-left: -27%;
			   width: 130%;
			}
		}
		a {
			text-decoration: none;
			color: #4A4A4A;
			font-size: 14px;
			@media(max-width:992px) {
				font-size: 20px;
			}
		}
  }

  // ============   Press Center Left Nav
  &.press-nav {
    ul {
      list-style-type: none;
      margin: 0;
      margin-top: 24px;
      margin-bottom: 40px;
      padding: 0;
      li {
        margin: 0 0 6px 0;
      }
      a {
        display: block;
        padding: 6px 12px 6px;
        max-width: 157px;
        color: #333;
        text-decoration: none;
        &:hover {
          background-color: #F0F0F0;
          color: #333;
        }
      }
      .current-menu-item a {
        background-color: #F0F0F0;
        color: #333;
      }
    }
    .pc-nav-header {
      text-indent: -20000px;
      margin-top: 12px;
      a {
        padding: 0;
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
      &.pc-nav-mf {
        background-image: url('../img/maker-faire-banner-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 34px;
      }
      &.pc-nav-mc {
        background-image: url('../img/make_logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 24px;
      }
    }
  }
}
