.faire-backlink {
   position: relative;
   top: 30px;
   float: left;
   margin-bottom: 20px;
   width: 130%;
   @media screen and (max-width: 992px) {
      width: 100%;
      float: none;
      text-align: center;
   }
   i {
      font-family: FontAwesome;
      color: #1989C7;
      font-weight: normal;
      font-style: normal;
      font-size: .8em;
   }
}
.image_grid {
   clear: both;
   h1 { 
      font-size: 38px
   }
   h2 { 
      font-size: 28px
   }
   .copyDiv {
      opacity: 0; position: absolute; z-index: -1;
   }
   .download_btn {
      margin-top: 5px;
      display: block;
   }
   .grid-padding {
      // padding: 20px;
      margin-bottom: 30px;
      text-align: center;
      .btn {
         width: 150px;
         align-items: center;
         margin: 0 auto;
      }
      @media screen and (max-width: 550px) {
         display: block;
         width: 45%;
         float: left;
      }
      @media screen and (max-width: 360px) {
         display: block;
         width: 100%;
         float: none;
      }
   }
   .img-size {
      background-color: #e3e3e3;
      width: 150px;
      margin: 0 auto;
      color: #3f3f3f;
   }

   .grid-image {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center;
   }

}

.image_grid:last-child {
   padding-bottom: 100px;
}

.second-block {
	margin-top: 30px;
	border-top: solid 1px #ccc;
	padding: 25px 0px 15px;
}