.entry-page {
  margin-bottom: 30px;
  .backlink {
    margin-top:10px;
    .fa-lg {
      vertical-align: -8%;
    }
  }
  #entry-schedule {
    border-top: 1px solid #2D7798;
    border-bottom: 1px solid #E7ECF0;
    margin-top: 10px;
    padding-top: 10px;
    overflow: hidden;

    table {
      margin-left: 61px;
      width: 100%;
      color: #4A4A4A;
      border-top: 1px solid #E7ECF0;
      tr {
        border-bottom: 1px solid #E7ECF0;
        line-height: 45px;
      }
      tr:last-child {
        border-bottom: none;
      }
    }
    .faireTitle {
      padding: 0 10px;
    }
    .faireLabel {
      color: #9B9B9B;
      font-weight: bold;
      font-size: 12px;
    }
    .faireName {
      font-size: 20px;
      color: #00AEEF;
    }
    .faireActions {
      margin-top: 10px;
      font-size: 12px;
      color: #4A4A4A;
      .actionIcon {
        height: 32px;
        width: 32px;
        margin-right: 10px;
        margin-left: 30px;
      }
    }
  }
  h1, h2 {
    margin-bottom: 0;
  }
  .btn.btn-info {
    margin-bottom: 25px;
  }
  .entry-video {
    max-width: 600px;
  }
  .entry-page-maker-info {
    .entry-page-maker-img {
      width: 100%;
      height: 262.5px;
      border: 2px solid #cccccc;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
        height: 212.5px;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        height: 157.5px;
      }
      @media screen and (max-width: 767px) {
        width: 300px;
        height: 300px;
      }
    }
    h3 {
      margin-top: 0;
    }
    p {
      font-weight: 300;
    }
  }

  .makerEditHead {
    padding: 10px 20px;
    i {
      padding-right: 10px;
    }
  }
  .editSection {
    position: relative;
    display: block;
    padding-right: 35px;
    h1 {
      margin-right: 50px;
    }
    .makerEdit {
      padding-top: 7px;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      color: #397b98;
    }
    .editfield {
      display: none;
    }
    input.editfield {
      width: 80%;
    }
    textarea.editfield {
      width: 80%;
      height: 6em;
    }

    .makerEdit a {
      color: #000;
    }
  }
  .editSection:hover .makerEdit {
    display: block;
  }
  .page-header {
    .makerEdit {
      padding-top: 27px;
    }
  }
  .mfEdit button, .mfEdit_area button, .mfEditUpload button {
    margin-top: 5px;
    margin-left: 5px;
  }
}