.faire-backlink {
   position: relative;
   top: 30px;
   float: left;
   margin-bottom: 20px;
   width: 130%;
   @media screen and (max-width: 992px) {
      width: 100%;
      float: none;
      text-align: center;
   }
   i {
      font-family: FontAwesome;
      color: #1989C7;
      font-weight: normal;
      font-style: normal;
      font-size: .8em;
   }
}

.image_grid {
   h1 { 
      font-size: 38px
   }
   h2 { 
      font-size: 28px
   }
   .copyDiv {
      opacity: 0; position: absolute; z-index: -1;
   }
   .grid-padding {
      padding: 20px;
      text-align: center;
      .btn {
         width: 150px;
         align-items: center;
      }
   }

   .grid-image {
      width: 150px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center;
   }
}
