@media(max-width:767px) {
  #main {
    margin-top: 59px;
  }
  .navbar-header {
    padding: 10px 0;
  }
  .navbar {
    background-color: #fff;
  }
  #wpadminbar {
    position: fixed;
  }
  .quora {
    &#header {
      padding:0;
    }
    .navbar-header {
      padding: 8px 0 0;
    }
    .navbar .navbar-brand {
      padding: 0;
      margin: 0;
      img {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .navbar-default .navbar-toggle {
      border-color: transparent;
      margin-top: 0;
      margin-bottom: 0;
    }
    /*temp fix for fixed height issue with subnav items on mobile*/
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
      max-height: 20em;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #00adef;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
    .navbar-toggle .icon-bar {
      width: 30px;
      height: 4px;
    }
    .navbar-toggle .icon-bar+.icon-bar {
      margin-top: 5px;
    }
    .navbar-nav {
      font-size: 14px;
      margin: inherit;
      float: initial;
    }
    .navbar-collapse {
      float: inherit;
    }
    .navbar-nav > li {
      float: none;
      position: relative;
      margin: 0 0 2px;
      background-color: #00ADEF;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: #0084B5;
      color: #fff;
    }
    .nav > li > a {
      padding: 10px 15px;
      color: #fff;
      font-size: 18px;
    }
    .navbar-nav .open .dropdown-menu {
      background-color: #C1ECFC;
      padding: 0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #444;
      font-size: 18px;
      border-top: 2px solid #fff;
    }
    .navbar-nav .open .dropdown-menu>li>a {
      padding: 10px 15px;
    }
  }
  .filter-list {
    text-align: center;
  }
  .see-all {
    text-align: center;
    width: 100%;
  }
  .filter-container a {
    margin-bottom: 5px !important;
  }
  footer .panel-group .panel {
    text-align: center;
  }
  footer .panel-title {
    padding-top: 0;
    margin-bottom: 0;
  }
  .quora .sponsors-wrap .open-close {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
  }
  .quora .follow-wrap .social-holder.instagram, .quora .follow-wrap .social-holder, .quora .follow-wrap .social-holder {
    border-right: none;
    border-left: none;
  }
  .quora .follow-wrap .social-holder.timer-box {
    padding: 0 5%;
  }
  .quora .sponsors-wrap .title {
    border-right: none;
  }
  .quora .head-box .title {
    padding: 0 0 30px 0;
  }
}
@media(min-width:768px) {
  .quora .navbar-collapse {
    padding: 0;
  }
}

@media(min-width:992px) {
  .col-md-8 article {
    padding-right: 45px;
  }
}
