#ribbonPage {
  position: static;

  select {
    border: none;
    background: none;
    color: #085a7e;
    margin-top: .3em;
  }
  .textSearch {
    float: right
  }

  /* override Quor placeholder hardcoded style */
  .textSearch span {
    color: #D3D3D3 !important;
  }
  .ribbonHeader {
    padding-top: .4em
  }
  .textSearch span, .textSearch input {
    padding: 3px 10px;
  }
  .projImg {
    height: 270px;
    max-width: 100%;
    overflow: hidden;
  }
  .projImg img {
    object-position: center;
    height: 100%;
    width: auto;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
  }
  .bluedata, .reddata {
    padding: 5px;
    margin: 5px;
    float: left;
    font-size: 12px;
  }
  .bluedata {
    background-color: #0e7db5
  }
  .reddata {
    background-color: #ff0000
  }
  .ribbData {
    position: relative;
    margin: 10px 0;
  }
  div.makerData {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    color: white;
    width: 90%;
    height: 60%;
    vertical-align: text-top;
    overflow: hidden;
    font-size: 14px;
  }
  div.makerData.show, .ribbData:hover div.makerData {
    opacity: 1;
  }
  .entryImg {
    position: relative
  }
  .ribbons {
    position: absolute;
    top: 9px;
    left: 20px;
  }
  .pagination {
    background: none;
    border-radius: 0;
    bottom: 0;
    line-height: 22px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .pagination li {
    display: block;
    margin: 0px;
    float: left;
  }
  .pagination li a {
    border-radius: 0;
    display: block;
    height: auto;
    overflow: none;
    text-indent: 0;
    transition: all 0.3s ease 0s;
    width: auto;
  }
  .projName {
    font-size: 18px;
  }
  .box {
    color: #085a7e;
    padding: 10px;
    border: thin solid grey;
    float: left;
    width: 7em;
    text-align: center;

    i {
      padding: 0 5px;
    }
  }
  .box.active {
    background-color: #085a7e;
    color: #fff
  }
  .ribbonGrid, .ribbonList {
    margin-bottom: 20px;
  }
  .ribbonList {
    .ribbonTitle div {
      display: inline-block;
      vertical-align: middle;
    }
    .ribbonTitle {
      padding-top: 2em;
      font-size: 1.4em;
    }
    ul {
      list-style-type: none;
    }
  }
  p.noData {
    text-align: center;
    padding: 10px;
  }
}
.redRibbon, .blueRibbon, .redMakey, .blueMakey {
  width: 38px;
  height: 56px;
  background-size: 38px 56px;
  background-repeat: no-repeat;
  float: left;
  font-weight: 700;
  color: #FBD818;
  padding: 11px 4px 11px 0;
  text-align: center;
}
.redRibbon {
  background-image: url('../images/red-ribbon.png');
}
.blueRibbon {
  background-image: url('../images/blue-ribbon.png');
}
.redMakey {
  background-image: url('../images/red-makey.png');
  vertical-align: middle;
}
.blueMakey {
  background-image: url('../images/blue-makey.png');
  vertical-align: middle;
}
.blueRibbon, .redRibbon, .redMakey, .blueMakey {
  float: none;
  display: inline-block
}
.page-id-82 {
    .quora#header {
    margin-bottom: 0;
  }
    .quora .navbar {
    border-bottom: none;
  }
}
div#brHeaderImg {
  float: left;
  position: relative;
  width: 100%;
}
div#brHeaderImg img {
  position: relative;
}
div#brHeaderImg div {
  position: absolute;
  top: 39%;
  left: 28%;
  color: white;
  font-size: 2.63em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 100;
}