.page-template-page-toolkits {
	header, footer {
		position: relative;
		z-index: 99;
	}
	@media screen and (min-width: 982px) {
		overflow: initial !important;
		.page-leftnav > .row .content {
			padding: 0 30px;
		}
	}
	@media screen and (max-width: 981px) {
		.page-leftnav > .row .content {
			margin: 0 15px;
		}
	}
	h1 {
		font-weight: 400;
		font-size: 28px;
		margin-top: 20px;
		white-space: nowrap;
	}
	h2 {
		font-size: 24px;
		&.section-header {
			text-transform: uppercase;
		}
	}
	h3 {
		font-size: 20px;
	}
	.image_grid:last-child { padding-bottom: 0px; }
	.toolkit-header {
		background: #fff;
		border-bottom: solid 1px #ccc;
		position: relative;
		z-index: 9;
		@media screen and (max-width: 982px) {
			margin-bottom: 30px;
		}
		.row {
			.toolkit-header-title {
				padding-left: 35px;
				margin-top: 8px;
				img { 
					float: left;
					margin: 19px 15px 0 10px;
				}
			}
			.toolkit-tabs {
				.nav-tabs {
					border-bottom: none;
					margin-top: 17px;
					margin-bottom: 3px;
				}
				.nav > li > a {
					color: #333;
					opacity: .6;
					font-size: 16px;
					border: none;
					border-radius: 0px;
					padding: 11px 25px;
					margin-top: 10px;
					@media screen and (min-width: 767px) and (max-width: 900px) {
						padding: 11px 12px;
					}
					&:hover, &:active, &:focus {
						opacity: .9;
						border: none;
						-webkit-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
						-moz-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
						box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
					}
				}
				.nav > li.current_page_item > a {
					opacity: .9;
					border: none;
					-webkit-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
					-moz-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
					box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
				}
			}
			.right-banner { 
				position: absolute;
				top: 20px;
				right: 0;
				background-color: transparent;
				color: #fff;
				border: 20px solid #ea002a;
				border-left-color: transparent;
				height: 30px;
				padding: 0px 15px;
				display: flex;
				align-content: center;
				justify-content: center;
				align-items: center;
				&:hover, &:active, &:focus {
					border: 20px solid #FF0000;
					border-left-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}
	.left-hand-nav {
		position: -webkit-sticky;
		position: sticky;
		top: 120px;
		z-index: 8;
		@media screen and (max-width: 982px) {
			display: none;
		}
		#menu-toolkit-left-hand-nav {
			margin-top: 15px;
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			li {
				a {
					color: #1989C7;
					font-size: 16px;
					line-height: 24px;
					&:hover {
						color: #4a4a4a;
					}
				}
			}
			li.section-header {
				&:hover {
					background: none;
				}
				a {
					color: #333;
					line-height: 24px;
					text-transform: uppercase;
					pointer-events: none;
					cursor: pointer
				}
		   }
			li.active { // highlight the section in the leftnav
				background: #f0f0f0;
				a { color: #4a4a4a; }
			}
		}
		.downArrow {
			position: sticky;
			bottom: 30px;
			margin-left: 40%;
			padding-top: 20px;
			&::after {
				font-family: "FontAwesome";
				content: '\f0ab';
				color: #37afed;
				font-size: 36px;
				text-shadow:
					-0px -0px 5px #fff,  
					 5px -5px 5px #fff,
					 -5px 5px 5px #fff,
					  5px 5px 5px #fff;
			}
		}
	}
	.toolkit-content {
		margin-top: 15px;
		font-size: 20px;
		@media screen and (max-width: 982px) {
			position: relative;
			top: -15px;
		}
	}
	.toolkit-section-wrapper {
		margin-top: 30px;
		.toolkit-section {
			a.toolkit-anchor { // all the fixed nav bars and sumos require the anchor to need a little more space
			  display: block;
			  position: relative;
			  top: -140px; 
			  visibility: hidden;
			}
		}
	}

}

.left-nav-back-to-top {
	position: fixed;
	top: 150px;
	width: 20%;
}

.back-to-top {
	a{
		padding: 25px;
		display: block;
		font-size: 18px;
		&::after {
			padding-left: 15px;
			font-family: "FontAwesome";
			content: '\f0aa';
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		@media screen and (max-width: 981px) {
			transform: scaleY(-1);
			display: none;
		}
	}
}

.page-leftnav > .subfooter-wrapper {
	height: 111px;
	background: #D0EAFC;
	width: calc(100% + 30px);
   margin-left: -15px !important; // make sure this goes full width even if the containers don't
	@media screen and (max-width: 982px) {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	.subfooter-links {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-wrap: nowrap;
		padding: 0px 15px;
		.subfooter-link {
			width: 25%;
			justify-content: center;
			align-items: center;
			border-left: solid 1px #979797;
			padding: 10px 30px;
			&:first-of-type {
				border-left: none;
			}
			a {
				width: 100%;
				h4 {
					font-size: 14px;
					text-transform: capitalize;
				}
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 987px) {
		.subfooter-links {
			.subfooter-link {
				padding: 10px 15px;
				&:first-of-type { padding-left: 0px; }
				&:last-of-type { padding-right: 0px; }
			}
		}
	}
	@media screen and (max-width: 767px) {
		height: 100%;
		.subfooter-links {
			flex-direction: column;
			.subfooter-link { 
				width: 100%;
				border: none; 
				padding: 20px 0px 0px;
				&:last-of-type { padding-bottom: 20px; }
			}
		}
	}
}