.page-template-page-toolkits {
	header {
		position: relative;
		z-index: 99;
	}
	@media screen and (min-width: 982px) {
		overflow: initial !important;
		.page-leftnav > .row .content {
			padding: 0 30px;
		}
	}
	@media screen and (max-width: 981px) {
		.page-leftnav > .row .content {
			margin: 0 15px;
		}
	}
	h1 {
		font-weight: 400;
		font-size: 28px;
		margin-top: 20px;
		white-space: nowrap;
	}
	h2 {
		font-size: 24px;
		&.section-header {
			text-transform: uppercase;
		}
	}
	h3 {
		font-size: 20px;
	}
	.image_grid:last-child { padding-bottom: 0px; }
	.toolkit-header {
		background: #fff;
		border-bottom: solid 1px #ccc;
		position: relative;
		z-index: 9;
		@media screen and (max-width: 982px) {
			margin-bottom: 30px;
		}
		.row {
			.toolkit-header-title {
				padding-left: 35px;
				img { 
					float: left;
					margin: 19px 15px 0 10px;
				}
			}
			.toolkit-tabs {
				.nav-tabs {
					border-bottom: none;
					margin-top: 17px;
					margin-bottom: 3px;
				}
				.nav > li > a {
					color: #333;
					opacity: .6;
					font-size: 16px;
					border: none;
					border-radius: 0px;
					padding: 11px 25px;
					margin-top: 10px;
					@media screen and (min-width: 767px) and (max-width: 900px) {
						padding: 11px 12px;
					}
					&:hover, &:active, &:focus, &.active {
						opacity: .9;
						border: none;
						-webkit-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
						-moz-box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
						box-shadow: 0px 3px 0px 0px rgba(234,0,42,1);
					}
				}
			}
		}
	}
	.left-hand-nav {
		position: -webkit-sticky;
		position: sticky;
		top: 120px;
		z-index: 8;
		@media screen and (max-width: 982px) {
			display: none;
		}
		#menu-toolkit-left-hand-nav {
			margin-top: 15px;
			@media screen and (min-width: 1200px) {
				padding-left: 60px;
			}
			li {
				a {
					color: #1989C7;
					font-size: 16px;
					line-height: 24px;
					&:hover {
						color: #4a4a4a;
					}
				}
			}
			li.section-header {
				&:hover {
					background: none;
				}
				a {
					color: #333;
					line-height: 24px;
					text-transform: uppercase;
					pointer-events: none;
					cursor: pointer
				}
		   }
			li.active { // highlight the section in the leftnav
				background: #f0f0f0;
				color: #4a4a4a;
			}
		}
		.downArrow {
			position: sticky;
			bottom: 30px;
			margin-left: 40%;
			padding-top: 20px;
			&::after {
				font-family: "Linearicons";
				content: '\e95f';
				color: #37afed;
				font-size: 36px;
				text-shadow:
					-0px -0px 5px #fff,  
					 5px -5px 5px #fff,
					 -5px 5px 5px #fff,
					  5px 5px 5px #fff;
			}
		}
	}
	.toolkit-section-wrapper {
		margin-top: 45px;
		.toolkit-section {
			a.toolkit-anchor { // all the fixed nav bars and sumos require the anchor to need a little more space
			  display: block;
			  position: relative;
			  top: -140px; 
			  visibility: hidden;
			}
		}
	}

}

.left-nav-back-to-top {
	position: fixed;
	top: 150px;
	width: 20%;
}

.back-to-top {
	a{
		padding: 25px;
		display: block;
		font-size: 18px;
		&::after {
			padding-left: 15px;
			font-family: "Linearicons";
			content: '\e95e';
		}
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
		@media screen and (max-width: 981px) {
			transform: scaleY(-1);
			display: none;
		}
	}
}
