.universal {
   .callout {
      border-left: 15px solid #00aeef;
      background-color: #D0EAFC;
      font-size: 20px;   
      padding: 20px 40px;      
   }

   ul {
      list-style: none;   
      font-weight: 300;
      margin-bottom: 20px;
   }

   li {
      font-size: 16px;
   }

   li:before {      
      color: #00aeef;
      content: "\2022";
      font-size: 2em;
      padding-right: .2em;
      position: relative;
      top: .2em;
   }   
}
