/*
logo cyan: #00aeef 

light cyan background color:#66ccff 
dark blue background color:#00516F 

if text is on a light colored background
a:link { color:#00AEEF ; text-decoration: underline;}

if text is on a dark colored background
a:link { color:#66ccff ; text-decoration: underline;}

button color: #3FAFED 
button hover: #1490d4
*/

/*******************/
/*** COLORS */
/*******************/

//Dark text
@black: #4a4a4a;

//Grey text
@grey: #9B9B9B;

//Grey background
@light-grey: #f7f7f7;

//Cyan background
@cyan-bg: linear-gradient(to right, #00A3DA,#00B7E3,#00A3DA);

//Dark blue background
@dark-blue: #00516F;





/*******************/
/*** FONTS */
/*******************/
@sarif: 'Roboto Slab', serif;
@sans-serif: Roboto, "Helvetica Neue", Helvetica, sans-serif;
