.page-template-page-entry {
	.entry-page {
		background: #fff;
		h1, h2, h4 {
			color: #2D91C3;
			font-family: "Roboto Bold", Sans-serif;
			font-size: 30px;
			margin: 0px;
		}
		h3 {
			font-size: 24px;
			margin: 0px;
			font-family: "Roboto";
			a { 
				color: #333;
				text-decoration: underline;
			}
		}
		h4.faireDate {
			color: #333;
			font-size: 18px;
			font-style: italic;
			margin-top: -15px;
		}
		main {
			@media screen and (max-width: 800px) {
				overflow: hidden;;
			}
		}
		section {
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
			padding: 15px 0;
			@media screen and (max-width: 800px) {
				flex-direction: column;
			}
			.big-column {
				width: 100%;
				@media screen and (min-width: 800px) {
					width: calc(60% - (1 - 3/5)*15px);
				}
			}
			.small-column {
				width: 100%;
				@media screen and (min-width: 800px) {
					width: calc(40% - (1 - 2/5)*15px);
				}
				.small-column-wrapper {
					display: flex;
					flex-direction: column;
					gap: 15px;
					position: sticky;
					top: 135px;
				}
				.embed-youtube, .embed-vimeo {
					margin-bottom: 0px;
					border-radius: 5px !important;
				}
			}
		}
		picture {
			aspect-ratio: 1 / 1;
			overflow: hidden;
			display: flex;
			// Fallback
			@supports not (aspect-ratio: auto) {
				&::before {
					float: left;
					padding-top: 100%;
					content: "";
				}
				&::after {
					display: block;
					content: "";
					clear: both;
				}
			}
			@media screen and (min-width: 800px) {
				position: sticky;
				top: 135px;
			}
			&.exhibit-picture {
				aspect-ratio: 3 / 2;
				overflow: hidden;
				display: flex;
				border-radius: 5px;
				// Fallback
				@supports not (aspect-ratio: auto) {
					&::before {
						float: left;
						padding-top: 66.25%;
						content: "";
					}
					&::after {
						display: block;
						content: "";
						clear: both;
					}
				}
			}
			img {
				object-fit: cover;
				object-position: top;
				width: 100%;
				border-radius: 5px;
			}
			&.small-picture {
				justify-content: center;
				align-items: center;
				img {
					width: auto;
				}
			}
			&.project-image-wide { // for those long, logo images
				aspect-ratio: auto;
				img{
					object-fit: contain;
					object-position: center;
				}
			}
		}
		.owl-carousel {
			.owl-stage {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 15px;
				margin-bottom: -15px;
				width: calc(100% + 15px) !important;
			}
			.owl-item {
				width: calc(50% - 15px) !important;
				margin: 0px !important;
				&:nth-last-child(1):nth-child(odd) {
					margin-bottom: 15px !important;
				}
				.gallery-item {
					aspect-ratio: 1;
					overflow: hidden;
					display: flex;
					// Fallback
					@supports not (aspect-ratio: auto) {
						&::before {
							float: left;
							padding-top: 100%;
							content: "";
						}
						&::after {
							display: block;
							content: "";
							clear: both;
						}
					}
					img {
						width: fit-content;
						margin: 0 auto;
						border-radius: 5px;
					}
				}
			}
			.owl-dots, .owl-nav {
				display: none;
			}
		}
		.entry-box {
			border-style: double;
			border-width: 5px;
			border-radius: 5px;
			padding: 15px;
			display: flex;
			flex-direction: column;
			align-self: stretch;
			gap: 25px; 
			background: #fff;
			.project-description {
				overflow-wrap: break-word;
				word-wrap: break-word;
			}
			.entry-box-items {
				.entry-box-item {
					font-family: "Roboto Regular", Sans-serif;
					font-size: 18px;
					font-weight: 400;
					display: flex;
					align-items: center;
					height: 40px;
					a {
						display: flex;
  						align-items: center;
						color: #333;
					}
				}
				.fa {
					color: #f51400;
					transition: color 0.3s;
					display: flex;
					justify-content: center;
					margin-right: 10px;
					width: 35px;
					font-size: 32px;
					&:hover {
						color: #9BDAF5;
					}
				}
			}
		}
		.maker-website {
			font-size: 23px;
			overflow: hidden;
			white-space: nowrap;
			-webkit-mask-image: linear-gradient(90deg, #fff 85%, transparent);
		}
		#makerInfo {
			background: #1F1A2C;
			margin: 0 -15px;
			padding: 15px;
			display: flex;
			gap: 40px;
			&:not(.makers-1) {
				justify-content: space-evenly;
				align-items: center;
				flex-wrap: wrap;
				@media screen and (max-width: 800px) {
					flex-direction: row;
				}
			}
			// if empty or only whitespace
			&:empty, &:not(:has(*)) { 
				display: none;
			}
			p {
				color: #fff;
				font-size: 20px;
			}
			h2 {
				color: #9bdaf5;
			}
			.entry-box {
				max-width: 400px;
				min-width: 400px;
				@media screen and (max-width:440px) {
					max-width: 330px;
					min-width: 330px;
				}
				.maker-description {
					a {
						overflow-wrap: break-word;
					}
				}
				.maker-website {
					margin-top: auto;
				}
				.social-links {
					min-height: 50px;
					padding: 0px;
					margin-top: -5px;
				}
				p { 
					font-size: 18px;
					color: #333;
					margin-bottom: 0px;
				}
			}
			.big-column {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				@media screen and (min-width: 800px) {
					width: calc(60% - (1 - 3/5)*40px);
				}
			}
			.small-column {
				width: 100%;
				@media screen and (min-width: 800px) {
					width: calc(40% - (1 - 2/5)*40px);
				}
			}
			&.showcase-list {
				a { color: #333; }
				.entry-box {
					margin: 30px 0;
					max-width: 400px;
					max-height: fit-content;
				}
			}
		}
		section.showcase-list {
			margin: 15px -20px;
			.showcase-wrapper {
				max-width: 1140px;
				margin: 0 auto;
				display: flex;
				gap: 25px;
				img { 
					width: 230px; 
					aspect-ratio: 1 / 1;
				}
				@media screen and (max-width: 800px) {
					flex-direction: column;
					picture {
						justify-content: center;
						aspect-ratio: unset;
						img {
							width: auto;
							max-width: 400px;
						}
					}
				}
				@media screen and (max-width: 460px) {
					picture {
						img {
							max-width: 100%;
						}
					}
				}
				h2 {
					margin-bottom: 25px;
				}
				p {
					font-size: 18px;
				}
				.showcase-website {
					font-size: 23px;
				}
			}
		}
		#sponsorSection {
			justify-content: center;
		}
		#bottomSection {
			justify-content: space-around;
			flex-direction: row;
			.entry-box {
				background: #1F1A2C;
				border-color: #fff;
				flex: 1;
				min-width: 300px;
				max-width: 45%;
				gap: 15px;
				@media screen and (max-width: 1000px) {
					max-width: 100%;
				}
				.entry-box-items {
					margin-top: -5px;
				}
				h4 {
					color: #9BDAF5;
				}
				a { color: #fff !important; }
			}
		}
		.main-category-icon {
			width: 35px;
			justify-content: center;
			align-items: center;
  			margin-right: 10px;
			img {
				filter: brightness(0) saturate(100%) invert(15%) sepia(81%) saturate(7431%) hue-rotate(5deg) brightness(98%) contrast(101%);
				object-fit: unset;
				width: auto;
				&:hover {
					filter: brightness(0) saturate(100%) invert(93%) sepia(14%) saturate(2862%) hue-rotate(172deg) brightness(98%) contrast(97%);
				}
			}
		}
		.makey-spinner {
			position: relative;
			left: 50%;
			right: 50%;
		}
	}
	.elementor-location-popup {
		display: none;
	}
}

.page-template-page-entry.admin-bar {
	.entry-page {
		section {
			.small-column {
				.small-column-wrapper {
					top: 168px;
				}
			}
			picture {
				@media screen and (min-width: 800px) {
					top: 168px;
				}
			}
		}
	}
}


.social-links.reversed {
	a {
		background-color: #f51400 !important;
		transition: background-color .3s;
		min-height: 50px !important;
    	min-width: 50px;
		&:hover {
			background-color: #9bdaf5 !important;
			opacity: 1 !important;
		}
	}
}

.schedule-items {
	margin-left: 5px;
	.schedule-item {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 10px;
		.schedule-calendar {
			position: relative;
			img { filter: invert(19%) sepia(94%) saturate(7025%) hue-rotate(7deg) brightness(98%) contrast(104%); }
			.schedule-dow {
				position: absolute;
				color: #fff;
				top: 10px;
				text-transform: uppercase;
				font-size: 10px;
				z-index: 9;
				width: 100%;
				text-align: center;
				pointer-events: none;
			}
			.schedule-day {
				position: absolute;
				top: 35%;
				color: #2d93c1;
				font-size: 28px;
				font-weight: 500;
				width: 100%;
				text-align: center;
				font-family: 'Roboto Bold';
			}
		}
		.schedule-details {
			width: 100%;
			.location {
				font-family: 'Roboto Bold';
				margin-top: 5px;
				width: 100%;
				display: block;
				clear: both;
			}
			.schedule-start {
				float: left;
			}
			.schedule-start + .schedule-start {
				margin-left: 5px;
				&:before {
					content: " & ";
				}
			}
			
		}
		&:nth-of-type(even) {
			img { filter: invert(48%) sepia(55%) saturate(569%) hue-rotate(153deg) brightness(94%) contrast(95%); }
			.schedule-day { color:#F51400; }
		}
	}
}

.ui-dialog {
	&.update-message {
		max-width:200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		position: absolute !important;
		top: 50px !important;
		font-size: 30px;
		.ui-dialog-titlebar { display:none} 
		#dialog-refresh {
			display: flex;
			align-items: center;
			justify-content: center;;
			flex-direction: column;
			gap:10px;
		}
		@media screen and (max-width: 768px) {
			max-width: 95vw !important;
			text-align: center;
			margin-top: 25px;
		}
	}
	&.entry-gallery {
		position: fixed !important;
		top: 40px !important;
		#dialog {
			display: flex;
			justify-content: center;
			img {
				max-height: calc(90vh - 40px);
				width: auto;
				max-width: 100%;
			}
		}
	}
}

.dialog-nav-btn {
	position: absolute;
	top: 50%;
	background: rgba(255, 255, 255, .8);
	border: none;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	font-size: 32px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	&:before {
		font-family: "Font Awesome 6 Pro";
    	font-weight: 900;
	}
}
.dialog-nav-btn.dialog-prev-btn {
	left: -10px;
	&:before {
		content: "\f100";
	}
}
.dialog-nav-btn.dialog-next-btn {
	right: -10px;
	&:before {
		content: "\f101";
	}
}

.projectImageDialog img {
	object-fit: contain;
  	height: 100%;
}

// Invalid page
.invalid h2 {
	color: #333 !important;
  	margin: 30px auto !important;
}

// the little blue footer
.entry-footer {
	background: #D0EAFC;
	height: 111px;
	.faireActions {
		display: flex;
	    justify-content: center;
		align-items: center;
		height: 100%;
		flex-wrap: nowrap;
		.faireAction-box {
			min-width: 25%;
			justify-content: center;
			align-items: center;
			border-left: solid 1px #979797;
			padding: 10px 30px;
			&:first-of-type {
				border-left: none;
			}
			a {
				width: 100%;
				h4 {
					font-size: 16px;
					color: #fff;
				}
				&:hover h4 {
					color: #005e9a;
				}
			}
		}
	}
	@media screen and (min-width: 768px) and (max-width: 987px) {
		.faireActions {
			.faireAction-box {
				padding: 10px 15px;
				&:first-of-type { padding-left: 0px; }
				&:last-of-type { padding-right: 0px; }
			}
		}
	}
	@media screen and (max-width: 767px) {
		height: 100%;
		.faireActions {
			flex-direction: column;
			.faireAction-box { 
				width: 100%;
				border: none; 
				padding: 20px 0px 0px;
				&:last-of-type { padding-bottom: 20px; }
			}
		}
	}
}

.makerEditHead {
	display:flex; 
	justify-content: space-between; 
	padding:10px; 
	align-items: center;
	.suggestions-toggle {
		display: flex;
		align-items: center;
		gap: 10px;
		i {
			font-size: 24px;
			&.fa-toggle-on {
				color: green;
			}
		}
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}
}
.hide-suggestions {
	.edit-message, #editMakey {
		display: none;
	}
}

.GVedit-message,
.edit-message {
	display: block;
	color: #f51400;
	font-style: italic;
	font-size: 20px;
	border: solid #f51400;
	padding: 5px 10px 10px;
	background: oldlace;
	width: fit-content;
	&:before {
		font-family: "Font Awesome 6 Pro";
    	font-weight: 900;
		content: "\f06a";
		font-style: normal;
		padding-right: 8px;
		font-size: 26px;
		position: relative;
		top: 3px;
	}
}

#editMakey {
	position: fixed;
	bottom: -70px;
	left: -40px;
	rotate: 23deg;
	z-index: 99;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.icon-link:hover {
	text-decoration: none;
	cursor: pointer;
	span {
		text-decoration: underline;
	}
}