.floating-footer {
    background: #006098;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    img {
        width: 100%;
    }
    .ui-accordion .ui-accordion-content {
        padding: 0;
    }
    .ui-accordion-content, .ui-accordion-header {
        background: #006098;
        border: none;
    }
    .ui-icon {
        background-image: url("https://code.jquery.com/ui/1.13.2/themes/base/images/ui-icons_ffffff_256x240.png");
    }
    .ui-icon-triangle-1-s {
        background-position: -65px -16px;
    }
    .ui-icon {
        width: 16px;
        height: 16px;
    }
        
    .ui-icon {
        display: inline-block;
        vertical-align: middle;
        margin-top: -.25em;
        position: relative;
        text-indent: -99999px;
        overflow: hidden;
        background-repeat: no-repeat;
    }
    
    .ui-accordion .ui-accordion-header {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 2px 0 0 0;
        padding: .5em .5em .5em .7em;
        font-size: 100%;
    }       
    .ui-accordion .ui-accordion-header, h3 {
        font-size: 20px;
        color:white;
    }
    p {
        padding-left: 25px;
        a {
            font-size: 20px;
            font-weight: bold;
        }
    }
}