.related-makershed-wrapper {
	margin: 15px;
	margin-bottom: 25px;
	h3 {
		color: #fff;
		background: #333;
		padding: 10px;
		margin-bottom: 20px;
		font-family: 'Roboto';
		font-size: 18px;
		font-weight: bold;
		a { color: #fff; }
	}
	.card-deck .card .card-header img {
		object-position: top;
	}
}
