// Grey out nav links
li.disabled a {
  color: #999 !important;
  cursor: default !important;
}

// Press center Left Hand Navigation
.left-hand-nav.press-nav {
    ul {
		list-style-type: none;
		margin: 0;
		margin-top: 24px;
		margin-bottom: 40px;
		padding: 0;
		li {
			margin: 0 0 6px 0;
		}
		a {
			display: block;
			padding: 6px 12px 6px;
			max-width: 157px;
			color: #333;
			text-decoration: none;
			&:hover {
				background-color: #F0F0F0;
				color: #333;
			}
		}
		.current-menu-item a {
			background-color: #F0F0F0;
			color: #333;
		}
    }
	.pc-nav-header {
		text-indent: -20000px;
		margin-top: 12px;
		a {
		  padding: 0;
		  &:hover {
			background-color: transparent;
			cursor: default;
		  }
		}
		&.pc-nav-mf {
		  background-image: url('../img/maker-faire-banner-logo.png');
		  background-repeat: no-repeat;
		  background-size: contain;
		  height: 34px;
		}
		&.pc-nav-mc {
		  background-image: url('../img/make_logo.png');
		  background-repeat: no-repeat;
		  background-size: contain;
		  height: 24px;
		}
	}
}