form.searchandfilter {
    margin-top: 5px;
    &> ul {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0px;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            flex-grow: 1;
            label { 
                width: 100%;
                select, input, .chosen-single {
                    width: 100%;
                    background: #fff;
                    border-radius: 3px;
                    border: solid #ccc 1px;
                    min-height: 35px;
                }
                input {
                    padding-left: 10px;
                    &::placeholder {
                        color: #666;
                        font-size: 16px;
                        font-weight: 300;
                        opacity: 1;
                    }
                }
                select {
                    padding-top: 7px;
                    @media screen and (max-width: 600px) {
                        -webkit-appearance: menulist-button;
                        height: 35px;
                    }
                }
                .chosen-container {
                    width: 100% !important;
                    font-size: 16px;
                    .chosen-single {
                        background: #fff;
                        color: #666;
                        padding-top: 5px;
                        span { font-weight: 300; }
                        &> div {
                            padding-top: 5px;
                        }
                    }
                    .chosen-drop {
                        box-shadow: none;
                    }
                }
            }
            &.sf-field-search {
                position: relative;
                .sf-input-text {
                    padding-left: 30px;
                }
                &:before {
                    position: absolute;;
                    font-family: "Font Awesome 6 Pro";
                    font-weight: 900;
                    content: "\f002";
                    top: 15px;
                    left: 8px;
                    color: #666;
                }
            }
            &.sf-field-sort_order {
                max-width: 35px !important;
                min-width: 35px !important;
                @media screen and (max-width: 600px) {
                    display: block;
                    margin-left: 10px;
                }
                .select2-container {
                    max-width: 35px !important;
                    min-width: 35px !important;
                    .select2-selection__rendered { display: none; }
                    .select2-selection__arrow {
                        width: 25px;
                        b { display: none; }
                        &::after {
                            content: "\f161";
                            font-family: "Font Awesome 6 Pro";
                            font-weight: 900;
                        }
                    }   
                }
            }
            &.sf-field-reset {
                width: 100%;
                text-align: right;
                padding-top: 0px;
                position: relative;
                z-index: 9;   
            }
        }
    }
    .sf-input-select {
        min-width: 0px;
    }
    .select2-container {
        width: 100% !important;
        .select2-selection {
            height: 35px;
            display: flex;
            align-items: center;
            border: solid 1px #ccc;
            .select2-selection__rendered {
                color: #999;
                font-weight: 400;
            }
            .select2-selection__arrow {
                top: 5px;
            }
        }
    }
    .sf-field-submit {
        max-width: 35px;
        background: #fff;
        border: solid 1px #ccc;
        border-radius: 3px;
        height: 35px;
        position: relative;
        top: 10px;
        input { 
            color: transparent;
            background: transparent;
            border: 0px;
            height: 40px;
            margin-top: -10px;
         }
        &::after {
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            content: "\f03a";
            color: #333;
            position: absolute;
            top: 4px;
            left: 8px;
            pointer-events: none;
        }
        @media screen and (max-width: 768px) {
            display: none; // no need for list view when we are going this small
        }
    }
}


.search-filter-results {
    min-height: 500px;
    text-align: center;
    margin-top: -35px;
    .results-info {
        justify-content: space-between;
        margin-bottom: 10px;
        display: none;
        &:first-of-type {
            display: flex;
            position: absolute;
            top: -50px;
        }
    }
    .filter-reset { text-align: right; margin-bottom: 5px; }
    hr { display: none;}
    .pagination {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;;
        &:last-of-type {display: flex !important;}
        .nav-previous, .nav-next, .nav-count {
            padding: 10px;
            order: 5;
            max-height: 50px;
            display: flex;
            a {
                border: solid 1px #005e9a;
                background: #005e9a;
                color: #fff;
                line-height: 0;
                visibility: hidden;
                &::after {
                    visibility: visible;
                    content: 'Next';
                    font-family: inherit;
                    text-indent: 0px;
                    height: 40px;
                    width: 150px;
                    background: #005e9a;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }
        .nav-count { 
            order: 4;
            display: flex;
            align-items: center;
            @media screen and (max-width: 700px) {
                order: 2;
                width: 100%;
                flex: 1 auto;
                display: flex;
                justify-content: center;
            }
         }
        .nav-next {
            order: 3;
            a::after {
                content: "Previous";
            }
        } 
        &:first-of-type { display: none; }
    }
    .pagination + .no-results, .result-items + .no-results {
        display: none;
    }
}

body.listview {
    .search-filter-results {
        .result-items {
            .result-item {
                width: 100%;
                flex-direction: row;
                .result-image {
                    img { max-height: 275px; }
                }
                .results-text {    
                    margin: 10px 50px 10px 35px;
                    width: 100%;
                    background-position-x: right;
                    background-position-y: 30%;
                    background-size: 120px;
                    h2 {
                        text-align: left;
                    }
                    .result-detail {
                        .sf-learn-more {
                            padding-left: 0px;
                        }
                        &:last-of-type {
                            margin-top: auto;
                            margin-bottom: 20px;
                        }
                    }
                }
                &.projects {
                    .result-image {
                        max-width: 285px;
                        max-height: 330px;
                        min-height: 330px;
                        img { max-height: 100%; }
                    }
                    .results-text {
                        background-position-y: top;
                        background-size: 100px;
                        h2 {
                            max-width: 85%;
                            min-height: inherit !important;
                        }
                        .result-detail {
                            &:first-of-type {
                                margin-top: 0px;
                            }
                            &.desc {
                                min-height: inherit !important;
                                margin-bottom: 0px;
                            }
                            &:last-of-type {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    form.searchandfilter {
        .sf-field-submit {
            &::after {
                content: "\f009";
            }
        }
    }
    
}

.elementor-widget-shortcode {
    @media screen and (max-width:768px) {
        overflow-x: hidden;
    }
}

.select2-dropdown {
    min-width: 160px;
}
.select2-container--open.select2-container--open:not(.select2.select2-container) {
    left: calc(100% - 170px) !important;
    position: absolute;
}