.faire-sponsors-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  gap:20px;
  .sponsors-box-xl,
  .sponsors-box-lg,
  .sponsors-box-md {
    height: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    img, a { width: 100%; }    
  }
  .sponsors-box-xl {
    max-width: 300px;        
  }
  .sponsors-box-lg {
    max-width: 200px;    
  }
  .sponsors-box-md {
    max-width:  150px;        	  
  }
}

.sponsors-landing {
  margin-top: 30px;
  margin-left: 30px;
  h2 {
    font-weight: 300;
  }
  .sponsors-row {    
    padding-bottom: 50px;
  }
  h3.sponsors-type {
    font-weight: 300;
    font-size: 35px;
  }
  
  .sponsors-text-box {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 15px;
  }
  .sponsors-text-box-inner {
    width: 25%;
    padding: 7px 15px;
    p {
      color: #222;
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  .sponsors-btn-top {
    margin-top: 20px;
    display: inline-block;
    padding: 7px 25px;
    background-color: #C03830;
    color: #fff;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    &:hover {
      background: #c51a28;
    }
  }
  .sponsors-btn-bottom {
    margin-bottom: 50px;
    display: inline-block;
    padding: 7px 25px;
    background-color: #C03830;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    &:hover {
      background: #c51a28;
    }
  }
}

// SPONSOR SLIDER FUNCTION
.sponsor-slide {
  padding-top: 20px;
  &.sponsor-slide-shortcode {
    border-top: none;
    margin-top: 15px;
  }
  h3.sponsors-type {
    font-weight: 300;
    font-size: 22px;
    margin-top: 0;
  }
  h4.sponsor-slide-title {
    color: #999;
    font-weight: 300;
	  text-align: center;
  }
  .sponsor-slide-cat {
    color: #666;
    font-weight: 400;
  }
  h5 {
    display: inline-block;
    float: right;
    margin: 15px 10px 0;
    a {
      padding: 5px;
      color: #666;
      display: inline-block;
      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 15px;
      }
    }
  }
  .carousel-inner {
    min-height: 220px;
  }
  .col-sm-5 {
    display: flex;
    justify-content: flex-end;
  }
  .sponsors-row {
    padding-bottom: 20px;
  }
}