// style.scss
$color-red: 		#ea002a;
$color-blue: 		#005E9A;
$color-light-blue: 	#3fafed;
$color-navy: 		#151733;
$color-grey: 		#333;
$color-light-grey: 	#f1f1f1;

@use "global";
@use "makerfaire-map";
@use "yearbook-events"; //for yearbook
@use "yearbook-projects"; //for yearbook
@use "featured-faire-landing-page";
@use "flagship-faire-landing-page";
@use "invoice";
@use "maker-portal";
@use "maker-week-page";
@use "meet-the-makers";
@use "navigation";
@use "entry";
@use "custom-panels";
@use "press-center";
@use "quora";
@use "ribbon-icon-badge";
@use "ribbons";
@use "schedule";
@use "search-and-filter";
@use "shortcodes";
@use "sidebar";
@use "social-media";
@use "sponsors";
@use "toolkits";
@use "featured-presenter-grid";
@use "elementor";