// style.scss
$color-red: 		#ea002a;
$color-blue: 		#005E9A;
$color-light-blue: 	#3fafed;
$color-navy: 		#151733;
$color-grey: 		#333;
$color-light-grey: 	#f1f1f1;

@import "global";
@import "makerfaire-map";
@import "yearbook-events"; //for yearbook
@import "yearbook-projects"; //for yearbook
@import "featured-faire-landing-page";
@import "flagship-faire-landing-page";
@import "invoice";
@import "maker-portal";
@import "maker-week-page";
@import "meet-the-makers";
@import "navigation";
@import "entry";
@import "custom-panels";
@import "press-center";
@import "quora";
@import "ribbon-icon-badge";
@import "ribbons";
@import "schedule";
@import "search-and-filter";
@import "shortcodes";
@import "sidebar";
@import "social-media";
@import "sponsors";
@import "toolkits";
@import "featured-presenter-grid";
@import "elementor";