// style.scss
$color-red: 		#ea002a;
$color-blue: 		#005E9A;
$color-light-blue: 	#3fafed;
$color-new-blue:    #2992c0;;
$color-navy: 		#151733;
$color-grey: 		#333;
$color-light-grey: 	#f1f1f1;
$color-lighter-grey:#f9f9f9;

$border-color:      #4a4a4a;