<b-row align-h="between">
    <b-col cols="11">
        <b-input-group prepend="Search" class="mt-3">
            <b-form-input v-model="searchQuery" placeholder="Search..."></b-form-input>
            <b-input-group-append>
                <b-button @click="resetFilters" variant="outline-primary" v-b-tooltip.hover title="Reset Filters"><i class="bi bi-arrow-repeat font-bold"></i></b-button>
            </b-input-group-append>
        </b-input-group>
        <input type="hidden" name="entryID" v-model="entryIDQuery" />
        <input type="hidden" name="page" v-model="lastPage" />
    </b-col>
    <b-col class="filter-expand-wrap">
        <b-button v-b-toggle.collapse-1 variant="outline-primary" class="mt-3" v-b-tooltip.hover title="Expand Filter Menu">
            <i class="bi bi-sliders"></i>
            <!--<span class="when-opened">
                Hide Filters
            </span>
            <span class="when-closed">
                Show Filters
            </span>-->
        </b-button>
    </b-col>
</b-row>
<b-collapse id="collapse-1" class="mt-2">
    <b-card class="filterSection">
        <b-row align-h="between">
            <!--Status Filter-->
            <b-col align-self="center">
                <label>Status</label>
                <b-form-select v-model="selectedStatus" :options="filteredStatus" multiple :select-size="4"></b-form-select>                                                
            </b-col>

            <!-- Entry Type Filter-->
            <b-col align-self="center">
                <label>Entry Type</label>
                <b-form-select v-model="selectedEntryType" :options="filteredEntryType" multiple :select-size="4"></b-form-select>                                
            </b-col>

            <!-- Primary Category Filter-->
            <b-col align-self="center">                
                <label>Categories</label>
                <b-form-select v-model="selectedCat" :options="filteredCat" multiple :select-size="4"></b-form-select>                                    
            </b-col>

            <!-- Flat Filter -->
            <b-col>
                <label>Flags</label>
                <b-form-select v-model="selectedFlag" :options="filteredFlag" multiple :select-size="4"></b-form-select>                
            </b-col>

            <!-- Preliminary Location Filter -->
            <b-col>
                <label>Preliminary Location</label>
                <b-form-select v-model="selectedPrelimLoc" :options="filteredPrelimLoc" multiple :select-size="4"></b-form-select>                
            </b-col>
        </b-row>
    </b-card>
</b-collapse>