<b-card-group deck>
    <b-card v-for="(maker, maker_id) in filterBy.slice((currentPage-1)*perPage,(currentPage-1)*perPage+perPage)" :title="maker.project_name" img-top :key="'grid-'+maker.project_id" @click="expandCard(maker.project_id)" :id="maker.project_id">
        <template #header>            
            <b-img-lazy thumbnail fluid class="grid-image" :alt="maker.project_name" :src="maker.photo" />
            <h5 class="hidden">{{maker.maker_name}}</h5>
        </template>
        <b-card-text>           
            <span
                    v-for="(line,lineNumber) of maker.description.split('\n')" 
                    v-bind:key="lineNumber" >
                    {{ line }}<br/>
                    </span>
        </b-card-text>
        <template #footer>
            <small class="text-muted"><span :class="'status_'+maker.project_id">{{maker.status}}</span></small>
        </template>
    </b-card>

    <b-pagination v-if="filterBy.length>0" v-model="currentPage" 
        :total-rows="filterBy.length" 
        :per-page="perPage" 
        prev-text="<" 
        next-text=">" 
        aria-controls="Grid">
    </b-pagination>

</b-card-group>