label {
    font-weight: 900;
    display: block;
}

img {
    max-width: 100%;

    &.multiImage {
        min-width: 200px
    }
}

.expand,
.updButton {
    margin: 20px 0;
}

.collapsed>.when-opened,
:not(.collapsed)>.when-closed {
    display: none;
}

.header>div {
    display: flex;

    align-items: center;
}

h2 {
    width: 95%;
    margin: 15px 0px;
}

h3 {
    padding: 0px;
    margin: 10px 0px;
}
#wpadminbar {
    z-index: 999 !important;
}
.form-select {
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 10px;
    #form_select {
        height: 38px;
    }
}
.filter-expand-wrap {
    display: flex;
    justify-content: end;
}
.filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.card {
    margin: 50px 0;

    .row.header {
        flex-wrap: nowrap;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.03);
        position: relative;
        .btn-outline-primary {
            position: absolute;
            top: 55px;
            right: 10px;
            background-color: #fff;
            &:hover {
                background-color: #007bff;
            }
        }
    }

    ul.card-header-tabs li {
        padding: 0px 5px;

        &.nav-link {
            background-color: #f1f1f1;

            &:hover {
                background-color: #ddd;
            }
        }
    }

    .card-header:has(> .img-thumbnail),
    .card-header .img-thumbnail {
        padding: 0px;
    }

    .card-header:has(> .img-thumbnail) {
        aspect-ratio: 3 / 2;

        @supports not (aspect-ratio: 3 / 2) {
            &::before {
                float: left;
                padding-top: 66.666%;
                content: "";
            }

            &::after {
                display: block;
                content: "";
                clear: both;
            }
        }

        overflow: hidden;

        .img-thumbnail {
            object-fit: cover;
            min-height: 100%;
        }
    }

    .card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        min-height: 88px;
    }

    .card-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;

        .bv-example-row {
            margin-bottom: 20px;

            .list-group,
            .img-thumbnail {
                margin-bottom: 10px;
            }
        }
    }

    .image-wrapper {
        aspect-ratio: 3 / 2;

        img {
            object-fit: cover;
            object-position: top center;
            width: 100%;
            height: 100%;
        }
    }
}

// grid view only
.card-deck .card {
    min-width: calc(20% - 30px);
    max-width: calc(20% - 30px);

    @media screen and (max-width: 1200px) {
        min-width: calc(25% - 30px);
        max-width: calc(25% - 30px);
    }

    @media screen and (max-width: 980px) {
        min-width: calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
    }

    @media screen and (max-width: 768px) {
        min-width: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }

    @media screen and (max-width: 600px) {
        min-width: 100%;
        max-width: 100%;
    }

}

// Loader
#loader {
    text-align: center;
    margin-top: 50px;

    img {
        width: 30px;
    }
}

.bi-arrow-repeat:before {
    font-weight: 900 !important;
}
.admin-actions .col-2 {
    display: flex;
    align-items: end;
    .listGrid-toolbar {
        margin-left: auto;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;

}
.card-deck .pagination {
    margin-top: 20px;
}

.fieldLabel {
    margin-top: 10px;
    margin-bottom: 0px;
}

.entry-status tr {
    flex-direction: column;
    display: flex;
}

.notes .list-group {
    max-height: 300px;
    overflow: scroll;
}

.blocks:not(:first-of-type) {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 10px;
}