html {
    background-color: #f0f3f4;
    position: relative;
    min-height: 100%;
}
h1,h2 {text-align:center}
body {
    background-color: transparent;
    color: #58666e;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top:15px;
}

/* navbar */
.navbar-inverse {
    background-color: #f04949;
    border-color: #f04949;
}
/* title */
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size:20px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f04949;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f04949;
}




.line {
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    background-color: #2e3344;
}

.sidebar ul.nav li a > i {
    float: left;
    line-height: 40px;
    margin: -10px 5px -10px -10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 40px;
}

.sidebar ul.nav li a{
	font-weight: 700;
}

.nav li a:first{margin-left: 20%;}
.nav li a{width:100%; margin-right: 45%;font-size:1.5em;}
.nav li a i{margin-right: 10px;display: inline !important;}
@media (min-width: 600px) and (max-width: 1100px) {
	.nav li a {
	    font-size: 1.5em;
	    margin-right: 10%;
	}
}
.nav li a .fa{display: inline !important;}


/*** nav ends here ****/

.title {
	background-color: #34495e;
	color: #fff;
	font-weight: bold;
	padding: 10px 5px;
}

.underline{
	text-decoration: underline;
	font-weight: bold;
}

.btn-success, .panel-success {
    background-color: #27c24c !important;
    border-color: #27c24c !important;
    color: #fff !important;
}
.btn-primary, .panel-primary {
    background-color: #7266ba;
    border-color: #7266ba;
    color: #fff !important;
}
.btn-info, .panel-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #fff !important;
}
.btn-warning, .panel-warning {
    background-color: #fad733;
    border-color: #fad733;
    color: #fff !important;
}
.btn-danger, .panel-danger {
    background-color: #f05050;
    border-color: #f05050;
    color: #fff !important;
}
.btn-dark, .panel-dark {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color: #fff !important;
}

.btn-save, .btn-save:hover, .btn-save:active, .btn-save:focus{
	background-color: #57c700 !important;
    border: 0 none !important;
    box-shadow: 0 3px 0 #4db300, 0 5px 2px rgba(0, 0, 0, 0.2) !important;
    color: #fff;
    padding-bottom: 10px !important;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px !important;
    position: relative;
}
.mt80{
	margin-top: 80px;
}


form .ng-invalid.ng-dirty { background-color: lightpink; }
form .ng-valid.ng-dirty { background-color: lightgreen; }
span.summary.ng-invalid { color: red; font-weight: bold; }
span.summary.ng-valid { color: green; }
div.error {color: red !important; font-weight: bold;}
.help-block.error{color: red !important;}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.ui-grid-cell-contents.wrap {
    white-space: normal;
    line-height: 1.2em;
    font-size: 15px;
    word-wrap: break-word;
}
.ui-grid-cell-contents.wrap span {
  display: inline-block;
  color:black;
}

/* Index page css */
.nav-list>li>a, .nav-list .nav-header {
    margin-left: -10px;
    margin-right: -10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-header {
    display: block;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.nav-list {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}
.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}
.nav-list>li>a {
    padding: 3px 0;
}
.nav-list>li>a, .nav-list .nav-header {
    margin-left: -10px;
    margin-right: -10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav>li>a {
    display: block;
    font-size:14px;
}
a {
    color: #0088cc;
    text-decoration: none;
}
/*
   This is the background of our overlay. We need it to be
   absolutely positioned within the grid, and fill from
   top to bottom, and the full width. It will also have
   a black background with 40% opacity.
*/
.grid-msg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/*
  This guy will contain our message. We want it centered
  so it's positioned absolutely with percentage-based
  offsets and dimensions. It also has some basic border
  stuff and most important is using "display: table" so
  we can vertically center its contents.
*/
.grid-msg-overlay .msg {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 50%;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #555;
  text-align: center;
  font-size: 24px;
  display: table;
}

/*
  Lastly this is the actual message text. It uses
  display: table-cell so the vertical alignment
  works properly.
*/
.grid-msg-overlay .msg span {
  display: table-cell;
  vertical-align: middle;
}
.well{padding:19px 5px;}


/* CSS to close and show the sidebar */
/*
 * Slidebar (add to your bootstrap)
 */

.slidebar-nav {
  left: 250px;
  list-style: none;
  height: 100%;
  margin: 0;
  margin-left: -250px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 50px;
  width: 0;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .slidebar-nav {
    width: 250px;
}
.slidebar-nav .navbar-collapse {
  padding: 0;
  max-height: none;
}
.slidebar-nav ul {
  float: none;
  width: 100%;
}
.slidebar-nav ul:not {
  display: block;
}
.slidebar-nav li {
  float: none;
  display: block;
}

.slidebar-nav .navbar-nav {
  margin: 0;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#page-wrapper6 {
  width: 100%;
  position: absolute;
  padding: 0px;
	top: 75px;
}
#wrapper.toggled #page-wrapper6 {
    position: absolute;
    margin-right: -250px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #page-wrapper6 {
        position: relative;
    }
    #wrapper.toggled #page-wrapper6 {
        position: relative;
        margin-right: 0;
    }
	.slidebar-nav {
		width: 250px;;
	}
	#wrapper.toggled .slidebar-nav {
		width: 0;
    }
}

.slidebar-toggle,.navbar .navbar-title, .stagingMsg {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.slidebar-toggle:focus {
  outline: 0;
}

.navbar-default .slidebar-toggle {
  border-color: #ddd;
}
.navbar-default .slidebar-toggle:hover,
.navbar-default .slidebar-toggle:focus {
  background-color: #ddd;
}

.navbar .navbar-title{float:right}
.cannedLinks .btn {width: 100%; margin: 5px;}